.mobile_index {
  width: 100% !important;
}
.mobile-eval-header {
  position: fixed;
  top: 0rem;
  background-color: white;
  height: 100px;
  width: 90%;
}
.mobile-eval-header-details {
  display: flex;
  align-items: center;
  .first-name {
    padding: 2vh 0 0 0;
    width: 30%;
    text-align: left;
    color: $rose;
    .mobile-wp-dates {
      text-align: left;
    }
  }
  .title {
    padding: 1vh 2vh 0 0;
    width: 70%;
    align-items: flex-end !important;
    justify-content: space-between !important;
    font-size: 15px;
    font-family: $titres-font !important;
    font-weight: 400 !important;
  }
}

// WP
.mobile-eval-wp {
  padding-top: 80px;
}
// DOMAIN
.mobile-domain-level {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  gap: 20px;
  .bd-maison {
    padding: 5px !important;
  }
  h3 {
    font-weight: 800;
  }
}
.mobile-belt {
  font-size: 2ch;
}

// mobile skill card
.mobile-skill-card {
  // border: solid $grisC;
  // border-radius: 16px;
  margin-bottom: 15px;
  // padding: 5px;
  .title-mobile-skill-card {
    background-color: $menuOff;
        border-radius: 14px 14px 0 0;
    display: flex;
    border-bottom: thin solid white;
    h3 {
      text-align: left;
      padding:  0 15px 0 15px;
    }
  }
  .previous_eval {
    width: 9ch !important;
    background-color: white;
  }
}
.mobile-eval-display {
   border-bottom: solid $grisC;
   border-left: solid $grisC;
   border-right: solid $grisC;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    display: flex;
    align-items: flex-end;
    align-content: center;
    justify-content: space-evenly;
    padding: 9px;
}

.mobile-last-eval {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  // background-color: $roseL;
  .eval_bull {
    width: 2ch !important;
    height: 2ch !important;
    font-size: 3ch;
    margin-left: 3px;
    margin-right: 3px;
  }
}

// mobil eval mangt
.mobile-eval-mngt {
  display: grid;
grid-template-columns: 1fr 1fr;
justify-items: start;

  i {
    font-size: 8ch;
  }
}
