@import "eval_mobile";
@import "home";
.mobile_index {
  width: 100vw !important;
  min-height: calc(100vh - 50px);
  padding: 5vw 5vw 5vw 5vw !important;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  .title {
    font-family: $headers-font;
    font-weight: 700;
  }
}
.mobile-message {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100% !important;
  justify-content: space-evenly;
}
.mobile_wp_one_classroom {
  // width: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: flex-start;
  h1 {
    font-size: 3vh;
    font-weight: 700;
    font-family: $titres-font;
  }
}
.w100 {
  width: 100%;
}
.greyline-mobile {
  height: 0px;
  // padding: 0 10px;
  border-top: solid thin $grisF;
  margin: 1ch 0;
}
.mobile-index-folder {
  color: $roseL;
  font-size: 3vh;
}

.mobile-wp-firstname {
  font-size: 3vh;
}
.mobile-index-wp-count {
  font-style: italic;
  opacity: 0.33;
  font-size: 3vh;
}
.mobile-index-wp-card {
  width: 100%;
  background-color: $rose;
  color: white !important;
  margin: 10px 0;
  border-radius: 15px;
  padding: 10px;
}
.mobile-student-wp {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.mobile-index-wp-name {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.mobile-namept {
  color: white !important;
  text-align: left;
  padding: 5px 10px;
  margin-bottom: 10px;
  font-size: 3vh;
}
.mobile-wp-dates {
  text-align: right;
  font-size: 2vh;
  color: $grisC;
}
.mobile-rmv-skill-btn {
  color: #dddddd;
  cursor: pointer;
  font-size: 3vh;
}
