<div class='container container-dashboard d-flex flex-column justify-content-space-around'>
  <div class=" d-flex flex-row justify-content-center dashboardTop">
    <div class="cardcreate">
      <h1><i class="fas fa-desktop"></i>  MON CARTABLE</h1>
      <%= link_to new_work_plan_path do %>
      <div class="bg1">
        <h2>Plan de Travail</h2>
        <p><i class="far fa-dot-circle"></i> Créer un plan de travail vierge</p>
        <img src="https://res.cloudinary.com/dr50qe2fh/image/upload/v1638788266/bg_create_PT_dvu0ve.svg" alt="">
      </div>
      <% end %>
    </div>
    <div class="lastexercices">
      <%= link_to '#' do %>
      <div class="bg2 d-flex flex-direction-column">
        <h2>Derniers exercices</h2>
        <p><i class="far fa-dot-circle"></i>  Accédez à vos derniers plans de travail</p>
        <img class="img1"src="https://res.cloudinary.com/dr50qe2fh/image/upload/v1638789050/bg_exercices_pzyqfx.svg" alt="">
        <img src="https://res.cloudinary.com/dr50qe2fh/image/upload/v1638790750/balancoire_exo-DB_yndrnu.svg" alt="" class="img2">
      </div>
      <% end %>
    </div>
  </div>
  <div class="dashboardBot align-self-center">
    <div class="lastworkplans">
      <%= link_to work_plans_path do %>
      <div class="bg3">
        <h2>Mes Derniers plans de travail</h2>
        <p><i class="far fa-dot-circle"></i>  Accédez à vos derniers plans de travail</p>
        <img src="https://res.cloudinary.com/dr50qe2fh/image/upload/v1638791727/bg_PT_r6szxh.svg" alt="">
      </div>
      <% end %>
    </div>
  </div>
</div>
