// Specific CSS for your home-page
.container2 {
  display: flex;
  flex-direction: row;
}
@media only screen and (min-width: 768px) {
  .contenu {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    padding-bottom: 50px;
  }
  .enter-card{
    margin-top: -58px;
    padding: 20px !important;
    font-size: 30px !important;
    font-weight: 700;
    border: solid $rose;
  }
}

@media only screen and (max-width: 768px) {
  .contenu {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-bottom: 50px;
  }
}

.banner{
  h2{
    font-size: 2.5rem;
  }
}
.pledge {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  // justify-items:center;
  // width: 100%;

  row-gap: 140px;
  h1 {
    font-family: $titres-font;
    font-weight: 700;
    font-size: 2rem;
  }

  p {
    font-family: $plan-font;
    font-weight: 200;
    font-size: 1.5rem;
    text-align: center;
  }
}
.row1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tournicoti {
  width: 100%;
  position: absolute;

  top: 45rem;
  display: flex;
  justify-content: space-around;
}
