#home {
  .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .flex-container {
    display: flex;
    width: 47rem;

    h1 {
      font-size: 1.5rem;
    }

    p {
      font-size: .9rem;
    }
  }

  .btn-flat {
   background-color: #F24150;
   padding: 24px;
  }
}
.description {
  margin-top: -50px;
}
 .logo-bg-white {
   margin: auto;
 }

 .center {
   width: 300px;
   height: 300px;
 }
.object-fit {
  object-fit: scale-down;
}
