.new-wps-card {
  h3 {
    color: $grisC;
  }
  h6 {
    font-style: italic;
  }
  .tag-selector {
    position: absolute;
    transform: scale(0);
  }

  .tag-selector + label {
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    border-radius: 9px;
    padding: 11px 12px;
    background-color: #ffeaed78;
    color: $rose;
    // border: 3px solid $rose;
    margin-right: 2rem;
    margin-bottom: 1rem;
  }

  .tag-selector + label {
    &:hover {
      color: white;
      background-color: #f24150;
    }
  }

  .tag-selector:checked + label {
    background-color: $rose;
    color: white;
  }
}
