// display date and student name
.print-date {
  i {
    font-size: 30px;
  }
  .printer-logo {
    text-decoration: none;
    color: $rose !important;
    margin: 0 15px;
    &:hover {
      cursor: pointer;
    }
  }
}

.top {
  display: flex;
}
.nocolor {
  border-color: white !important;
  background-color: white !important;
  box-shadow: none !important;
}

.right-levels{
  margin-bottom: 15px;
}

.results {
  margin: 0 15px 20px 15px;
}
.results-header {
  margin-left: 15px;
}

.domain-main-col{
  border-right: thin solid $grisC;
    border-right-width: medium;
}

.domain-level {
  height: 120px;
  width: 100px;
  // border: thin solid $grisC;
  // background-color: $grisC;
  text-align: center;
  border-radius: 14px;
  // background: rgb(255,255,255);
  // background: linear-gradient(140deg, rgba(255,255,255,1) 0%, rgba(207, 207, 207, 0.911) 100%);
}



.domain-col {
  padding: 5px;
  height: 120px;
  width: 100px;
  border-bottom: thin solid $grisC;

  margin: 0 5px;
}

.domain-header {
  transform: rotate(306deg);
  font-weight: bold;
  position: relative;
  top: 29px;
  left: 16px;
  color: $rose;
  padding: 5px;
  height: 120px;
  width: 100px;
  margin: 0 5px;
}
.cells-student {
  // border: solid rgba(100, 100, 100, 0.541);
  // border-radius: 15px;
  // box-shadow: inset 0px 0px 17px 2px rgba(100, 100, 100, 0.541);
  text-align: center;

  .digging {
    font-size: 50px;
  }
}

// css 4 last wps display


.belt-result {
  margin: 10px;
  font-size: 70px;
}

// display the last wps results

.a-wps {
  height: 25px;
  margin: 2px 10px;
}

.skill-name {
  position: relative;
  top: -25px;
  right: -30px;
  width: 300px;
  font-size: smaller;
  font-weight: bolder;
  color: white;
  background-color: #f24150d0;
  padding: 5px;
  border-radius: 5px;
}

.belt-name h6{
    font-size: 13px !important;
    word-break: break-word !important;
}

.belt-bar {
  // width: 87px;
  height: 110px;
  padding: 5px;
  box-shadow: 0px 0px 17px 2px rgba(209, 208, 208, 0.541);
  border-radius: 15px;
  // border-top: thin solid $grisC;
  color: $gray;
}
.bar-style {
  height: 66px;
  // background-color: white;
  border-radius: 11px;
  padding: 10px 5px;
  font-weight: bold;
  text-align: center;
background: rgb(255,255,255);
background: linear-gradient(140deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.7038165608040091) 100%);
}

/*This css will only works when you print*/
@media print {
  .navgauche,
  .navhaut,
  .footer,
  .scroll-progress,
  i.printer-logo {
    display: none;
  }
  // .cells-student {
  //   // border: thin solid gray;
  // }
  .contenu {
    margin-left: 0;
  }

  .belt-name h6{
      font-size: 10px !important;
      word-break: break-word !important;
  }

  .pastouche {
    text-align: center;
    padding-top: 3%;
  }
}

/*END OF This css will only works when you print*/
