.student-sticky-header{
  position: sticky;
    top: 9px;
    background-color: #ffffffef;
    z-index: 1;
}

// display date and student name
.prog-name {
  height: 74px;
}
.print-date {
  i {
    font-size: 30px;
  }
  .printer-logo {
    text-decoration: none;
    color: $rose !important;
    margin: 0 15px;
    width: 20px;
    &:hover {
      cursor: pointer;
    }
  }
}

.autogene-details {
  position: relative;
  top: -69px;
  right: -2px;
  // width: 300px;
  font-size: smaller;
  font-weight: bolder;
  color: $grisF;
  background-color: #f241507c;
  padding: 10px;
  border-radius: 5px;
}

.top {
  display: flex;
  margin-left: 15px;
}
.nocolor {
  border-color: white !important;
  background-color: white !important;
  box-shadow: none !important;
}

.right-levels {
  margin-bottom: 15px;
}

.results {
  margin: 0 15px 20px 15px;
}
// .results-header {
// }

.domain-main-col {
  border-right: thin solid $grisC;
  border-right-width: medium;
}

.domain-level {
  height: 120px;
  width: 100px;
  // border: thin solid $grisC;
  // background-color: $grisC;
  text-align: center;
  border-radius: 14px;
  // background: rgb(255,255,255);
  // background: linear-gradient(140deg, rgba(255,255,255,1) 0%, rgba(207, 207, 207, 0.911) 100%);
}

.domain-col {
  padding: 5px;
  height: 120px;
  width: 100px;
  border-bottom: thin solid $grisC;
  margin: 0 5px;
}
.validate-belt-btn {
position: relative;
    top: 4px;
    right: 2px;
    border-radius: 50%;
  i {
    color: #00803379;

    font-size: 1.5rem;
  }
  i:hover{
    color: #008033cb;
  }

  button {
    background-color: transparent !important;
  }
  button:hover {
    transform: scale(3);
    transition: 0.15s;
    top: 4px;
    right: 2px;
  }
}

.domain-header {
  // margin: 0 20px 0;
  transform: rotate(306deg);
  font-weight: bold;
  position: relative;
  top: 13px;
  left: 16px;
  color: $rose;
  padding: 5px;
  height: 120px;
  width: 113px;
  text-align: center;
  // margin: 0 5px 8px;
}
.cells-student {
  // border: solid rgba(100, 100, 100, 0.541);
  // border-radius: 15px;
  // box-shadow: inset 0px 0px 17px 2px rgba(100, 100, 100, 0.541);
  text-align: center;

  .digging {
    font-size: 50px;
  }
}

// css 4 last wps display

.belt-result {
  margin: 10px;
  font-size: 70px;
}

// display the last wps results
.display-last-wps {
  // position: sticky;
  // top: 0;
  // right: 0;
  height: inherit;
  width: inherit;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  margin-top: -10px;
  flex-direction: column-reverse;
}

.a-wps {
  height: 25px;
  max-width: 25px;
  margin: 2px 3px;
}

.skill-name {
  position: relative;
  top: -25px;
  right: -30px;
  width: 300px;
  font-size: smaller;
  font-weight: bolder;
  color: white;
  background-color: #f24150d0;
  padding: 5px;
  border-radius: 5px;
}

.belt-name h6 {
  font-size: 13px !important;
}

.belt-bar {
  // width: 87px;
  height: 110px;
  padding: 5px;
  box-shadow: 0px 0px 17px 2px rgba(209, 208, 208, 0.541);
  border-radius: 15px;
  // border-top: thin solid $grisC;
  color: $gray;
}
.bar-style {
  height: 66px;
  // background-color: white;
  border-radius: 11px;
  padding: 10px 5px;
  font-weight: bold;
  text-align: center;
  background: rgb(255, 255, 255);
  background: linear-gradient(140deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.7038165608040091) 100%);
}

/*This css will only works when you print*/
@media print {
  .navgauche,
  .navhaut,
  .footer,
  .scroll-progress,
  i.printer-logo,
  .validate-belt-btn {
    display: none;
  }
  // .cells-student {
  //   // border: thin solid gray;
  // }
  .contenu {
    margin-left: 0;
  }

  .belt-name h6 {
    font-size: 10px !important;
    word-break: break-word !important;
  }
}

/*END OF This css will only works when you print*/
