		<!-- Modal select domains on auto gen-->
  <div class="modal-ensemble" data-controller='modals'>


  <%= simple_form_for  student, url:student_auto_new_wp_path(student), method: :post, html:{target:"_blank",
    data:{action:"submit->modals#emptyModal",turbo:false,turbo_frame: '_top'  }} do |form| %>
    <div class="modal-ensemble-dialog">
      <div class="modal-ensemble-content --maw-60
">
        <div class="modal-ensemble-header">
          <h5 class="modal-title" >Déselectionner les domaines non souhaités pour
            <%= student.first_name.capitalize %>
          </h5>
          <button
            type="button"
            class="btn-close"
            aria-label="Close"
            data-action='click->modals#emptyModal'
          ></button>
        </div>
        <div class="modal-body">
          <div class="cloning-classroom-card">
            <div
              class="btn-group"
              role="group"
              aria-label="Basic checkbox toggle button group"
            >
              <div class="domain-checkbox" data-controller='checkboxes'>
                <%= form.input_field :domains,
                                 # collection: classroom.students.order(first_name: :asc),
                                 collection: domains,
                                 # label_method: ,
                                 value_method: lambda { |domain| domain.id },
                                 multiple: true,
                                 as: :check_boxes,
                                 boolean_style: :inline,
                                 data: {
                                   checkboxes_target: "boxes",
                                  #  action: "click->checkboxes#add"
                                 },
                                 class: "tag-selector",
                                 item_wrapper_class: "tag-item",
                                 required: true,
                                 checked: domains %>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-ensemble-footer">
          <p class="--grisC w-100">
            <em>La plan de travail s'ouvrira dans un nouvel onglet</em></p>
          <button type="button" class="btn btn-secondary"
          data-action='click->modals#emptyModal'>X</button>
          <%= form.submit "Valider",
                      class: "btn btn-secondary --bgc-vert --borderc-vert"
                      %>
          <%# <button type="button" class="btn btn-secondary --bgc-vert --borderc-vert ">Valider</button> %>
        </div>
      </div>
    </div>
  <% end %>
  </div>
