<div class="classrooms-list">
  <% @classrooms.each do |classroom| %>
    <%shared_classroom = @shared_classrooms.find{|shared_classroom|shared_classroom.classroom == classroom}  if current_user != classroom.user  %>
    <div class="classroom-card">
      <%# <img src="" alt=""> %>
      <%= render "classroom_card_top", classroom: classroom, shared_classroom: shared_classroom%>
      <%= render 'classroom_students', classroom: classroom %>
      <%= render 'create_student', classroom: classroom %>
    </div>
  <% end %>
</div>
