<%= simple_form_for Classroom.new, html: { novalidate: false } do |f|%>
  <div class="classroom-field ">
    <div class="left_box">
      <i class="fa-solid fa-graduation-cap class-grade"></i> <p>*</p>
      <%=f.input :grade, label: false, required: true,
                              collection: Classroom::GRADE,
                              input_html: {class: 'area add-grade'}
                                %>
    </div>
    <div class="center_box">
      <%=f.input :name, label: false,
                            hint: 'Vous pouvez donner un nom à votre classe',
                            input_html: {class: 'area'}  %>
    </div>
    <div class="d-flex flex-row-reverse">
      <%= f.submit "Valider", class: "validate-btn" %>
      <div class="cancel-btn me-3" data-action='click->create-classroom#displayForm'>
        <i class="fas fa-times"></i>
      </div>
    </div>
  </div>
<% end %>
