<%= turbo_frame_tag "pdf_classroom_#{classroom.id}" do%>
  <div class="d-flex align-items-center" id="generate_pdf_classroom_<%=classroom.id%>">
    <%= button_to generate_pdfs_classroom_path(classroom),class: "p-0",
    data:{
        controller:"tooltip",
        bs_toggle:"tooltip",
        bs_placement:"top"},
        title:"Envoyer les résultats des élèves en pdf à #{current_user.email}" do %>
      <i class="fa-solid fa-file-zipper --rose m-0"></i>
    <% end %>
  </div>
<% end %>
