<div class='w-100 h-100 text-center' data-controller='wps-result' data-action='mouseover->wps-result#displayName mouseout->wps-result#hideName'>
	 <%= link_to '+', student_add_completed_wps_path(student, params:{skill_id: @skill.id}),
                                                class: 'd-inline bg-transparent p-0 --green d-none',
                                                form_class: "d-inline ",
                                                data:{ wps_result_target:'name',
                                                action:'click->ajax-classroom-add-wps#validateWps'
                                                }%>

</div>
