<div data-controller="loadingspinnermgnt">
	<% if @classrooms.empty? %>
		<h1>Ouups, Vous n'avez pas de Classe.</h1>
		<h1>
			Créez en une !</h1>
	<% else %>
		<% if @classrooms.count == 1 %>
			<h1>Ma Classe</h1>
		<% else %>
			<h1>Mes Classes</h1>
		<% end %>
		<%= render "classrooms" %>
	<% end %>
	<%# Classroom Creation %>
	<div class="classroom-creation" data-controller='create-classroom'>
		<%if policy(Classroom.new(user: current_user)).create? %>
			<button
      class="validate-btn"
      data-action='click->create-classroom#displayForm'
				data-create-classroom-target='button'
				>
				Créer une classe
			</button>
			<div class="classroom-form d-none" data-create-classroom-target='form' data>
				<%= render "form" %>
			</div>
		<% else %>
			<% if current_user.demo? %>
				<div class='teacher-email'>DEMO : Vous ne pouvez plus ajouter de classe</div>
			<% else %>
				<div class='teacher-email'>Vous ne pouvez plus ajouter de classe. Demandez au(x) responsable(s) du groupe (<%= @school.super_teachers_first_name%>) de modifier les quantités l'abonnement<br> pour ajouter
					une classe via le menu de gestion de l'abonnement</div>
			<% end %>
		<% end %>
	</div>
</div>
