
<div style="text-align: center;">
	<%= image_tag 'https://res.cloudinary.com/bensoucdev/image/upload/v1678871863/ensemble/logos/ensemble_icone_umdhbk.png', width: '100px' %>
</div>

<h2>Bonjour <%= @teacher.first_name.capitalize %>,</h2>
<p>
	Les résultats de votre classe, du <%=I18n.l(Time.current,format: :full_day_month_year)%>, sont prêts et joints à cet email(En Zip).
</p>
<p>
	Cordialement,<br>
	L'équipe d'Ensemble
</p>
