
// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: yellow;
$orange: #E67E22;
$green: #4caf50;
$gray: #0E0000;
$light-gray: #F4F4F4;

// COULEUR ENSEMBLE
$orange: orange;
$grisF: #3D3D3D;
$grisC: #DDDDDD;
$violet: #E7E4FA;
$jaune: yellow;
$bleuC: #C8E6FB;
$menuOff: #FFE3CF;
$blanc: #FFFFFF;
$rose: #F24150;
$roseL: #e72c3ca4;
$marron: rgb(196, 64, 3);

// class color
.--orange { color:$orange !important}
.--grisF { color:$grisF !important}
.--grisC { color:$grisC !important}
.--violet { color:$violet !important}
.--jaune { color:$jaune !important}
.--bleuC { color:$bleuC !important}
.--menuOff { color:$menuOff !important}
.--blanc { color:$blanc !important}
.--rose { color:$rose !important}
.--roseL { color:$roseL !important}
.--vert { color: $green !important}

.--bgc-orange { background-color:$orange !important}
.--bgc-grisF { background-color:$grisF !important}
.--bgc-grisC { background-color:$grisC !important}
.--bgc-violet { background-color:$violet !important}
.--bgc-jaune { background-color:$jaune !important}
.--bgc-bleuC { background-color:$bleuC !important}
.--bgc-menuOff { background-color:$menuOff !important}
.--bgc-blanc { background-color:$blanc}
.--bgc-rose { background-color:$rose !important}
.--bgc-roseL { background-color:$roseL !important}
.--bgc-vert { background-color: $green !important}
.--bgc-marron { background-color: $marron !important}
.--bgc-noir { background-color: $gray !important}
.--bgc-transparent { background-color: transparent !important}

.--borderc-orange { border-color:$orange !important}
.--borderc-grisF { border-color:$grisF !important}
.--borderc-grisC { border-color:$grisC !important}
.--borderc-violet { border-color:$violet !important}
.--borderc-jaune { border-color:$jaune !important}
.--borderc-bleuC { border-color:$bleuC !important}
.--borderc-menuOff { border-color:$menuOff !important}
.--borderc-blanc { border-color:$blanc}
.--borderc-rose { border-color:$rose !important}
.--borderc-roseL { border-color:$roseL !important}
.--borderc-vert { border-color: $green !important}



/* _colors.scss */
$belt-1: rgb(240, 230, 230);
$belt-2: rgb(248, 244, 6);
$belt-3: orange;
$belt-4: rgb(13, 196, 22);
$belt-5: rgb(30, 27, 211);
$belt-6: rgb(175, 99, 0);
$belt-7: black;
