// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #4caf50;
$gray: #0E0000;
$light-gray: #F4F4F4;

// COULEUR ENSEMBLE
$orange: #FFB888;
$grisF: #3D3D3D;
$grisC: #DDDDDD;
$violet: #E7E4FA;
$jaune: #F9DD8A;
$bleuC: #C8E6FB;
$menuOff: #FFE3CF;
$blanc: #FFFFFF;
$rose: #F24150;
$roseL: #e72c3ca4;

/* _colors.scss */
$belt-1: rgb(240, 230, 230);
$belt-2: rgb(248, 244, 6);
$belt-3: orange;
$belt-4: rgb(13, 196, 22);
$belt-5: rgb(30, 27, 211);
$belt-6: rgb(175, 99, 0);
$belt-7: black;
