
  body {
    // background-image: url("https://res.cloudinary.com/dr50qe2fh/image/upload/v1638810072/bg2_tbato3.svg");
    background-color: white;
    font-family: $body-font;
    // padding-bottom: 50px !important;
  }


// .pastouche {

//   margin-bottom: 50px !important;
// }

.scroll-bar-tab {
  z-index: 1;
  width: 100%;
  height: 0.5rem;
  top: 0;
  position: fixed;
  background-color: $blanc;
}

.scroll-progress {
  height: 0.5rem;
  top: 0;
  position: fixed;
  z-index: 2;
  background-color: #ffa2a9;
}

a {
  text-decoration: none !important;
}

.grey-line {
  margin: 20px 20px;
  padding-bottom: 10px;
  border-bottom: thin solid $grisC;
}
.grey-line-full{
  margin: 10px 0px;
  // padding-bottom: 10px;
  border-bottom: thin solid $grisC;
}

// button {
//   padding: 0px !important;
// }
// .bd-maison .skill:hover{
//     background-color: $rose;
//     color: $grisC;
// }

.--grow-on-hover {
  &:hover {
    transform: scale(1.5);
    transition: 0.5s;
  }
}

.--cursor-pointer {
  cursor: pointer;
}

.--circle {
  border-radius: 50% !important;
}

.--centerabsoluteposition {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.--border-10px {
  border-radius: 10px !important;
}
.--center-content{
  margin: 0 auto;
}

.--text-center {
  text-align: center !important;
}
.--text-justify-center {
  text-justify: ce;
}

.--italic{
  font-style: italic;
}

.--height-0 {
  height: 0px !important;
}

.--color-inherit{
  color: inherit !important;
}

.--width-70{
  width: 70% !important;
}
.--width-80{
  width: 80% !important;
}

.grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.back-link{
  color: $grisF;
  &:hover{
    color: $roseL;
  }
}
