body {
  background-color: white;
  font-family: $body-font;
}

.bd-maison{
  border:  solid #dddddd;
  color: $grisF;
  font-family: "Poppins", sans-serif;
  border-radius: 14px;
  display: flex;
  align-items: center;
  height: 1.5em;
  height: fit-content;


}

// .bd-maison .skill:hover{
//     background-color: $rose;
//     color: $grisC;
// }
