.eval-btn{
  width: 200px;
}
.eval-btn:hover {
  color: white !important;
}
.eval-domain-belt-level {
  width: 100px;
}
.eval-icon {
  font-size: 25px;
  padding: 0 10px;
  width: 32px;
}
.previous_eval {

  margin-right: 10px;
  width: 15ch;
  height: 40px;
  border: solid grey;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 3px;
  padding: 0 2px 0 2px;
}

.orange{
  color: orange;
}

.eval-skill-display{
  width:500px
}


.eval_bull {
  width: 2.5ch;
  height: 2.5ch;
  border: solid grey;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.eval-mngt{
  width: 190px;
  display: flex;
  align-items: baseline;
  margin-right: 18px;
  padding-top: 10px;
}

.failed{
  background-color: orange !important;
  color: white !important;
  border-color: orange !important;
}

.redo{
    background-color: yellow  !important;
    border-color: yellow!important;
  color: rgb(255, 154, 1) !important;
}

.completed{
  background-color: green !important;
  border-color: green !important;
  color: antiquewhite !important;
}

.new{
  background-color: white !important;
  color: black !important;
}

.redo_OK{
    background-color: green!important;
    color: yellow !important;
    border-color: yellow;
}
