// Specific CSS for your home-page
.container2 {
  display: flex;
  flex-direction: row;
}
@media only screen and (min-width: 768px) {
  .contenu {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    min-height: calc(100vh - 49px);
    padding-bottom: 50px;
  }
  .enter-card {
    margin-top: -58px;
    padding: 20px !important;
    font-size: 30px !important;
    font-weight: 700;
    border: solid $rose;
  }
}

@media only screen and (max-width: 768px) {
  .contenu {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-bottom: 50px;
  }
}

.banner {
  h2 {
    font-size: 2.5rem;
  }
}
.description {
  // position: sticky;
  // top: 100px;
  // z-index: 1;
}
.pledge {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  // justify-items:center;
  // width: 100%;

  h1 {
    font-family: $titres-font;
    font-weight: 700;
    font-size: 2rem;
  }

  p {
    font-family: $plan-font;
    font-weight: 200;
    font-size: 1.5rem;
    text-align: center;
  }
}
.row1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tournicoti {
  width: 100%;
  position: absolute;

  top: 55rem;
  display: flex;
  justify-content: space-around;
  img {
    height: 16vw;
  }
}

// illustartions
.home-images {
  width: 380px;
  height: 288px;
}
.home-images-slides {
  width: 380px;
  // position: relative;
  // display: contents;
  img {
    margin: 0 auto;

    // width: 380px;
    // max-height: ;
  }
}

// with splide & splide.min.css
.splide__progress__bar {
  height: 3px;
  background: $roseLight;
}
.splide__arrow--prev, .splide__arrow--next{
  background: $rose;
  &:hover{
    background: $roseLight;
  }
}
.splide__arrow--prev svg, .splide__arrow--next svg{

  fill: $blanc;

}
.splide__pagination__page.is-active{
  background: $rose;
}
// END with splide & splide.min.css
.showcase-banner{
  background-color: $roseLight;
  color: whitesmoke;
  padding: 4rem 4rem 2.5rem 4rem;
  margin: 2.5rem 0 0 0;
  & h2{
    font-family: $titres-font;
    font-size: 1.5rem;
    text-align: center;
  }
}
