// Specific CSS for your home-page
.container2{
  display: flex;
  flex-direction: row;
}
.contenu{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 200px;
}
.pledge{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  // justify-items:center;
  // width: 100%;
  column-gap: 0;
  row-gap: 140px;
  h1{
    font-family: $titres-font;
    font-weight: 700;
    font-size: 28px;
  }
  p{
    font-family: $plan-font;
    font-weight: 200;
    font-size: 18px;
    text-align: center;
  }
}
.row{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tournicoti{
  position: absolute;
  left: 40vw;
  top: 46rem;
}
