<div class='domain  ' id="<%= dom_id(work_plan_domain) %>">
  <% # DOMAIN + BELT DISPLAY %>
  <div class="mobile-domain-level">
    <div class='belt'>
      <div class='d-flex justify-content-around '>
        <div class='bd-maison' >
          <i class=" fas fa-bacon belt-<%= work_plan_domain.level %>  mobile-belt font-weight-bold"></i>
        </div>
      </div>
    </div>
    <h3><%= work_plan_domain.domain %></h3>
  </div>
</div>
<% # SKILLS DISPLAY %>
<div class='mobile-skill-display '>
  <% work_plan_domain.work_plan_skills.order(:skill_id).each do |plan_skill| %>
    <%= render "eval_mobile_skill_display", plan_skill: plan_skill %>
  <% end %>
</div>
