<div class="mobile_index">
  <h1 class="title">Evaluation des Plans de Travail</h1>
  <div class="greyline-mobile"></div>
  <% @my_classrooms.each do |classroom| %>
    <div class="mobile_wp_one_classroom">
      <h1>
        <%= classroom.grade %> - <%= classroom.name %>
      </h1>
      <%# WP assigned %>
      <% classroom.students.order(:first_name).each do |student| %>
        <div class="w100 mt-1 mb-1" data-controller='wp-by-student' >
          <%# START of folder + student name + student wp count %>
          <%= render "index_wp_student_name", student: student%>
          <% # END of folder + student name + student wp count %>
          <div data-wp-by-student-target="wplist" class='d-none'>
            <% @my_work_plans.select { |a| a.student_id == student.id }.each do |wp| %>
              <%= render "index_wp_line", wp: wp %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <div class="greyline-mobile">  </div>
  <% end %>
  <%# WP unassigned %>
  <%# end classroom loop => class wp-one-classroom %>
</div>
