<%# render resultat <%= domain %>
<% skills = Skill.where(domain: domain, level: level, grade: @student.classroom.grade)%>
<div class="display-last-wps">
  <%skills.each do |skill|%>
    <%wps= @all_skills.select {|f| f[:skill]==skill}.first[:last_wps] %>
    <%unless wps.nil?%>
      <div class="a-wps" data-controller='wps-result'>
        <%= render 'challenge_status', wps: wps%>
        <div class="skill-name d-none" data-wps-result-target='name'>
          <%=skill.name%>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
