<div class="container">
  <%= simple_form_for :new_wps do |form|%>
    <h3>Sélectionner les compétences à valider pour <%= @student.first_name.capitalize %></h3>
    <div class="cloning-classroom-card" >
      <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
        <div class="student-checkbox" data-controller='checkboxes'>
          <%=form.input_field :skills,
                # collection: classroom.students.order(first_name: :asc),
                collection:@skills,
                label_method: lambda {|skill| skill.name},
                value_method: lambda {|skill| skill.id},
                multiple: true,
                as: :check_boxes,
                boolean_style: :inline,
                data: {checkboxes_target: 'boxes',action:"click->checkboxes#add"},
                class: "tag-selector",
                item_wrapper_class: 'tag-item'
                %>
        </div>
      </div>
    </div>
    <%= form.submit 'Valider',class: 'btn-flat-green',
      data:{confirm: "Etes vous vraimment certain de valider ces compétences?"} %>
  <% end %>
</div>
