<div data-controller="loadingspinnermgnt">
  <div class="">
    <%# <%case @student.classroom.grade%>
    <%# <%when "CE1"%>
    <%= render 'student_results'%>
    <%# <% end %>
  </div>
</div>
<%# revoir les constantes, à envoyer depuis le controller %>
