<h1 class='ms-5'>Conversations</h1>
<div class="conversations-container">
	<%= render 'conversations/conversations', school_conversation: @school_conversation,
              active_conversation: @conversation, ensemble_conversation: @ensemble_conversation,
              user_conversations: @user_conversations %>
	<%# conversation = @school_conversation # Only for front dev%>
	<%= render 'conversations/conversation', conversation: @conversation,
  collegue_not_in_conversation: @collegue_not_in_conversation %>
</div>
