<div class="d-flex">
	<h1 class='ms-5'>Conversations</h1>
	<h6 class='--roseL'>BETA</h6>
</div>
<div class="conversations-container">
	<%= render 'conversations/conversations', school_conversation: @school_conversation,
              school_conversations: @school_conversations,
              active_conversation: @conversation, ensemble_conversation: @ensemble_conversation,
              user_conversations: @user_conversations %>
	<%# conversation = @school_conversation # Only for front dev%>
	<%= render 'conversations/conversation', conversation: @conversation,
  collegue_not_in_conversation: @collegue_not_in_conversation %>
</div>
