.classrooms-list {
  margin-bottom: 15px;
}

.students-names{
   display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 10px 0 10px;
}
.classroom-card {
  min-height: 200px;
  margin-bottom: 15px;
  // min-width: 300px;
  border: solid $grisC;
  border-radius: 15px;
}

.classroom-card-top{
  background-color: $grisC;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  margin-bottom: 10px;
}

.class-grade{
  font-size: 25px;
  color: $rose;
  font-weight: 900;
}
.student-fname {
  width: 290px;
  h1 {
  font-size: 20px !important;
  color: $grisF;
  }

}

.add-student-btn{
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 12px;
  width: 170px;
  height: 3em;
  border: 3px solid $rose;
  transition: 0.3s;
  a{
    color: $rose;
  }

  h6 {
    padding: 10px;
    margin: 0;
  }
  i{
    font-size: 12px;
  }
}

.add-student-btn:hover{
  transition: 0.2s;
  background-color: $rose;
  border-color: $rose;
  color: white;
  cursor: pointer;
  a, h6{
    color: $white;
  }
}

// add/create student
.hidden{
  visibility: hidden;
}

// create classroom section
.add-grade{
  width: 8ch;
  margin-right: 20px;
}

.classroom-form{
  margin-bottom: 20px;
}

.classroom-creation{
  margin: 15px 0 15px 0;
  button{
    margin-bottom: 15px;
  }
}
