.classrooms-list{
display: ;
}

.classroom-card{
  min-height: 200px;
  width: 500px;
  border: solid grey;
  border-radius: 15px;


  img {

  }
}

.student-fname h1{

    font-size: 20px !important;

}
