        <div>
        <%# display le content.body d'un exo %>
          <div>
            <h2>Exercice</h2>
            <%= work_plan_skill.challenge.content.body%>
          </div>
          <%# Display editeur, en d-none de base %>
          <div class='d-none'>
            editeur
          </div>
        </div>
