<%# work_plan.work_plan_domains.each do |work_plan_domain|%>
	<%# <%raise%>
	<%@domains.each do |domain|%>
		<% wpd2 = @wpds.select {|wpd|wpd.domain ==domain}%>
		<% unless wpd2.empty? %>
			<%wpd2.sort_by{ |wpd|wpd.level }.each do |work_plan_domain|%>
				<%# boucle sur les work_plan_domains %>
				<div class='domain-block'>
					<%= render 'eval_domain', work_plan_domain: work_plan_domain%>
				</div>
			<%end%>
		<% end %>
	<% end %>
