<div id="wp-edition" >
  <div >
    <div class='d-flex justify-content-between align-items-baseline' >
      <h1><%= work_plan.name%>
        <!-- EDIT WP Button trigger modal -->
        <button type="button" class="bg-white" data-bs-toggle="modal" data-bs-target="#exampleModal" >
          <i style= 'color: #F24150' class="fas fa-pen fa-xs ms-2" ></i>
        </button>
        <!-- END EDIT WP Button trigger modal -->
      </h1>
      <p>Niveau : <%= work_plan.grade%></p>
      <center>
        <h4 class='date-domain'>Du <%= work_plan.start_date.strftime("%d/%m/%Y")%> Au <%= work_plan.end_date.strftime("%d/%m/%Y")%></h4>
      </center>
    </div>
  </div>
</div>
