<%# work_plan.work_plan_domains.each do |work_plan_domain|%>
  <%# <%raise%>
  <%WorkPlanDomain::DOMAINS.each do |work_plan_domains|%>
    <% wpd2 = work_plan.work_plan_domains.where(domain: "#{work_plan_domains}")%>
    <% unless wpd2.empty? %>
      <%wpd2.order(:level).each do |work_plan_domain|%>
        <%# boucle sur les work_plan_domains %>
        <div class='domain-block'>
        <%= render 'domain', work_plan_domain: work_plan_domain%>
        </div>
      <%end%>
    <% end %>
  <% end %>
  <%# add domain%>
  <a id="bottom"></a>
  <div >
    <%= render 'show_add_domain', work_plan: work_plan%>
  </div>
