<%# work_plan.work_plan_domains.each do |work_plan_domain| %>
<%# <%raise %>
<%= turbo_frame_tag :domain_list do %>

    <% @domains.each do |domain| %>
      <%# <% wpd2 = work_plan.work_plan_domains.where(domain: "#{work_plan_domains}") %>
      <% selected_wpds =
        @work_plan_domains
          .select { |work_plan_domain| work_plan_domain.domain == domain }
          .sort_by(&:level) %>
      <% unless selected_wpds.empty? %>
        <% selected_wpds.each do |work_plan_domain| %>
          <%# boucle sur les work_plan_domains %>
          <%= render "work_plan_domains/work_plan_domain", work_plan_domain: work_plan_domain, work_plan_skills: @work_plan_skills %>
        <% end %>
      <% end %>
    <% end %>

<% end %>
<div id='bottom'></div>

<%= turbo_frame_tag :edit_new_domain do %>
  <%= link_to new_work_plan_work_plan_domain_path(work_plan, WorkPlanDomain.new),
    class:"add-skill-btn" do %>
    <h6>Ajouter un domaine</h6>
    <i class="fas fa-chevron-down"></i>
  <% end %>
<% end %>
