<div class='d-flex justify-content-between mb-1'>
  <div>
  <% if !work_plan.student.nil? %>
    <h2><%= work_plan.student.first_name%></h2>
  <% end %>
  </div>
  <div class='d-flex-column '>
    <p>Bilan du plan de travail <br>◻ Programme tenu <br> ◻ Programme non tenu <br>◻ Programme dépassé</p>
  </div>
  <div class='border rounded-3 w-50 p-1'>
    <p>Commentaires:</p>
  </div>
  <div class='border rounded-3 w-20 p-1'>
    <p>Signatures des Parents:</p>
  </div>
</div>
