  <div class='student-name d-flex justify-content-between'>
    <% unless work_plan.student.nil? %>
      <h2><strong><%= work_plan.student.first_name %></strong></h2>
    <% end %>
    <div class='d-flex'>
      <% if current_user.admin %>
        <% unless work_plan.student.nil? %>
          <%= link_to eval_path(@work_plan), class: "utility-wp-btn" do %>
            <h6>Correction</h6>
          <% end %>
        <% end %>
      <% end %>
      <%= link_to work_plan_path(@work_plan, format: :pdf), class: "utility-wp-btn" do %>
        <h6>Export PDF</h6>
      <% end %>
      <%= link_to work_plan_clone_path(@work_plan), method: "post", class: "utility-wp-btn" do %>
        <h6>cloner</h6>
      <% end %>
    </div>
  </div>
