
<div class=' pt '>
  <div class=''>
    <%# header WP%>
  <%= render 'shared_header_wp', work_plan: @work_plan%>
    <%# Student details %>
  <%= render 'show_student_details', work_plan: @work_plan%>
  </div>

  <%# Start of a domain %>
  <div>
    <%= render 'show_work_plan_domains', work_plan: @work_plan%>
  </div>
</div>
