<div class='container'>

  <div class='border-bottom'>
    <%# header WP%>
  <%= render 'header_domain'%>
    <%# Student details %>
  <%= render 'student_details'%>
  </div>
  <%console%> <%# à enlever par la suite %>
  <%# Start of a domain %>
  <div>
    <%= render 'work_plan'%>
  </div>
</div>
