<div class=' pt '>

  <div class='border-bottom'>
    <%# header WP%>
  <%= render 'header_domain', work_plan: @work_plan%>
    <%# Student details %>
  <%= render 'student_details', work_plan: @work_plan%>
  </div>

  <%# Start of a domain %>
  <div>
    <%= render 'work_plan_domain', work_plan: @work_plan%>
  </div>
</div>
