// .alert {
//   button {
//      padding: 10px 10px !important;
// }
@import "add_discovery_modal";
@import "join";
// top NAV BAR
.top-link-btn i{
  color: $roseL;
    // font-family: "Baloo 2", cursive;
    font-size: 1.5rem;
    font-weight: 700;
    border: 3px solid $blanc;
    // &:hover{
    //   color: $blanc !important;
    //   background-color: $roseL !important;
    //   border-radius: 50%;
    //   border: 3px solid $roseL;
    // }
}
.top-link-no-bcg-btn i{
  color: $roseL;
  background-color: $blanc !important;
    // font-family: "Baloo 2", cursive;
    font-size: 1.5rem;
    font-weight: 700;

}
.vertical_white_bar{
  background-color: $blanc;
  width: 1px;
  height: 2rem;
  margin: 0 10px;
}
