.last-message-box{
  a{
    width: 100%;
  }
}
.message-date {
  font-size: 0.6rem;
  color: $blanc;
  font-style: italic;
  font-weight: bold;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  .conversation-name{
    font-size: 0.8rem;
    color: $bleuC;
    font-weight: bold;
  }
}
.message {
  .content {
    display: flex;
  }
  .message-content-user-name{
    font-size: xx-small;
    color: $blanc;
    font-style: italic;
  }
}
.writer .message-date {
  font-size: 0.6rem;
  color: $grisC;
  font-style: italic;
  font-weight: bold;
}
