#domains_list {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  padding: 15px;
  justify-content: flex-start;
}
.domain-box {
  display: flex;
  align-items: center;
  height: 44px;
  padding: 5px 10px;
  border: thin solid $rose;
  border-radius: 1rem;
  color: $roseL;
  margin-bottom: 5px;
  a,
  i {
    color: $roseL;
  }
  &.form-domain-btn{
    width: 14rem;
  }
}
.domain-form-box{
  display: flex;
  align-items: center;
  height: 44px;
  padding: 5px 10px;
  border: thin solid $rose;
  border-radius: 1rem;
  color: $roseL;
  margin-bottom: 5px;
  a,
  i {
    color: $green;
    font-size: 1.5rem;
  }
  &.form-domain-btn{
    width: 19rem;
  }
}
.domain-form{
  .input{
    width: 30ch;
  }
  .form-control{
    border-radius: 15px;
  }
      width: 28ch !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
