<%= turbo_frame_tag "#{domain.id}_#{level}", data:{controller:'drag', drag_url_value:"/skills/:id/move"} do %>
  <% skills.each do |skill| %>
    <% unless skill.nil? %>

        <%= render "skill", skill: skill %>

    <% end %>
  <% end %>
<% end %>
<div class="grey-line"></div>
<%= render 'skills/add_a_skill', school: grade.school, level: level, domain: domain %>
