<%= turbo_frame_tag "skill_creation_errors" do%>
<div class="modal fade active" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Oupps il ya des erreurs</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<ul>
	<h3>Voici les domaines en erreur:</h3>
	<% errors[:domains].each do |error| %>
		<li> <%= error %></li>
	<% end %>
	<h3>Voici les compétences en erreur: </h3>
	<% errors[:skills].each do |error| %>
		<li> <%= error %></li>
	<% end %>
</ul>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>


<% end %>
