<footer>
	<div class="footer-homemade footer">
		<div class="footer-links container">
			<%= link_to mentions_legales_path do%>
				Mentions Légales
			<% end %>
			<a href="https://github.com/bensouc/ensemble"><i class="fab fa-github"></i></a>
			<%=mail_to "contact@vroadstudio.fr", "Contact",
         subject: "Ensemble : Demande d'information", target: '_blank'%>
		</div>
		<div class="footer-copyright">
			Ensemble is made with <i class="fas fa-heart"></i> at
			<%=link_to "https://vroadstudio.fr", target: :_blank, rel: 'noopener'  do %>
				<%=image_tag 'vroad_logo.png', height: 24, alt: "VRoadStudio Logo"%>
			<% end %>
		</div>
	</div>
</footer>
