<div class="navhaut">
  <div class="quote">
    <div id="QuoteOFDay"></div>
    <script>
      var type="theme";
      var theme="partage";
    </script>
    <script src="../../../javascript/plugins/quote.js"></script>
  </div>
  <div class="avatar">
    <%= cl_image_tag current_user.photo.key%>
    <h3><%=current_user.first_name.capitalize%> <%=current_user.last_name.capitalize%></h3>
    <p>Classe : CE2</p>
  </div>
</div>
