<div class="navhaut">
  <div class="quote">
    <div id="QuoteOFDay"></div>
  </div>
  <div class="avatar">
    <%if current_user.avatar.attached?%>
      <%= cl_image_tag current_user.avatar.key, class: "avatar dropdown-toggle", alt: "https://res.cloudinary.com/bensoucdev/image/upload/v1644250365/avatr_myemjn.png"%>
    <% else %>
      <img src="https://res.cloudinary.com/bensoucdev/image/upload/v1644250365/avatr_myemjn.png" class= "avatar" alt="">
    <% end %>
    <h3><%=current_user.first_name.capitalize%> <%=current_user.last_name.capitalize%></h3>
    <p>Classe : <%current_user.classrooms.each do |classroom|%>
        <%= classroom.grade%>
      </p>
    <% end %>
  </div>
</div>
