<div class="result-cell" data-controller='classroom-add-wps' data-classroom-add-wps-target='wpsBox'>
		<div class='--cursor-pointer' data-controller='display-special-wps-mngt' data-action='mouseover->display-special-wps-mngt#displayWps mouseout->display-special-wps-mngt#hideWps'>
			<div class ='d-flex' data-display-special-wps-mngt-target='show'>
				<i class="fa-solid fa-circle-check --vert"></i>
			</div>
			<div class="--cursor-pointer d-none" data-display-special-wps-mngt-target='delete'>
				<%= link_to '-', result_path(result),
                                            data: { turbo_method: :delete },
                                            class: '--roseL'%>
			</div>
		</div>
</div>
