<div class="home-images">
	<div id="carouselExampleSlidesOnly" class="carousel slide home-images-slides"
  data-bs-ride="carousel" data-bs-interval="950">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<%= image_tag 'captures/gestion_classes.jpg', alt: 'créer sa classe',width: '380px' %>
			</div>
			<div class="carousel-item">
				<%= image_tag 'captures/challenge_edition.png', alt: 'workplan sharing',width: '380px' %>
			</div>
			<div class="carousel-item">
				<%= image_tag 'captures/carousel_exo.png', alt: 'carousel challenge',width: '380px' %>
			</div>
			<div class="carousel-item">
				<%= image_tag 'captures/work_plan_edit.png', alt: 'edition workplan',width: '380px' %>
			</div>
		</div>
	</div>
</div>
