<footer class="container-fluid text-white py-5">
	<div class="container">
		<div class="row mb-5">
			<div class="lead text-center">
				<h2>Les tutos Ensemble !</h2>
				<p >
					Pour vous accompagner dans votre utilisation d'Ensemble, nous avons rédigé des tutoriels accessibles :
				</p>
				<h4>
					<%= link_to  'https://vroadstudio.notion.site/Ensemble-Les-Tutos-1bb72deab51d43898dd2bdcec25ec098', class:'btn-home-tuto', target: 'blank' do%>
						<i class="fa-solid fa-angles-left"></i> Accéder aux tutos <i class="fa-solid fa-angles-right"></i>
					<% end %>
				</h4>
			</div>
		</div>
		<div class="row mb-5">
			<div class="col-md-6">
				<h2>Créez Votre Univers Pédagogique Personnalisé</h2>
				<p>Libérez le potentiel éducatif avec notre plateforme innovante qui redéfinit la création de plans de travail. Notre interface conviviale et intuitive permet aux enseignants de façonner des expériences d'apprentissage sur mesure, tandis que la génération automatique s'adapte à la progression de chaque élève.</p>
			</div>
			<div class="col-md-6">
				<h2>Rejoignez la Communauté Ensemble</h2>
				<p>Ensemble n'est pas seulement un outil, c'est une communauté d'enseignants passionnés qui collaborent pour enrichir l'expérience éducative. Rejoignez-nous dès aujourd'hui et faites partie d'une initiative qui révolutionne l'enseignement numérique.</p>
			</div>
		</div>
		<div class="row ">
			<div class="col-md-6">
				<h2>Inscrivez-vous dès Maintenant</h2>
				<p>Prêt à transformer votre enseignement ? Inscrivez-vous dès maintenant à Ensemble et découvrez comment notre plateforme peut dynamiser votre salle de classe. Rejoignez-nous dans cette aventure pédagogique numérique et préparez-vous à faire la différence dans la vie de vos élèves.</p>
			</div>
			<div class="col-md-6">
				<h2>Tarification Flexible et Avantageuse</h2>
				<p>Nous comprenons que chaque école a des besoins uniques. C'est pourquoi notre grille tarifaire est conçue pour s'adapter à votre structure.</p>
				<p>Profitez d'un mois d'essai gratuit pour explorer toutes les fonctionnalités d'Ensemble sans engagement.</p>
				<h5> Plus de 2 mois offerts pour un abonnement annuel !!</h5>
			</div>
		</div>
	</div>
</footer>
