<footer class="container-fluid text-white py-5">
	<div class="container">
		<div class="row mb-5">
			<div class="col-md-6">
				<h2>Créez Votre Univers Pédagogique Personnalisé</h2>
				<p>Libérez le potentiel éducatif avec notre plateforme innovante qui redéfinit la création de plans de travail. Notre interface conviviale et intuitive permet aux enseignants de façonner des expériences d'apprentissage sur mesure, tandis que la génération automatique s'adapte à la progression de chaque élève.</p>
			</div>
			<div class="col-md-6">
				<h2>Rejoignez la Communauté Ensemble</h2>
				<p>Ensemble n'est pas seulement un outil, c'est une communauté d'enseignants passionnés qui collaborent pour enrichir l'expérience éducative. Rejoignez-nous dès aujourd'hui et faites partie d'une initiative qui révolutionne l'enseignement numérique.</p>
			</div>
		</div>
		<div class="row mb-5">
			<div class="col-md-6">
				<h2>Inscrivez-vous dès Maintenant</h2>
				<p>Prêt à transformer votre enseignement ? Inscrivez-vous dès maintenant à Ensemble et découvrez comment notre plateforme peut dynamiser votre salle de classe. Rejoignez-nous dans cette aventure pédagogique numérique et préparez-vous à faire la différence dans la vie de vos élèves.</p>
			</div>
			<div class="col-md-6">
				<h2>Tarification Flexible et Avantageuse</h2>
				<p>Nous comprenons que chaque école a des besoins uniques. C'est pourquoi notre grille tarifaire est conçue pour s'adapter à votre structure. En vous abonnant à Ensemble, vous bénéficiez d'une tarification avantageuse basée sur le nombre de classes que vous gérez.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="container text-center">
					<h3>Tarifs</h3>
					<p>Profitez d'un mois d'essai gratuit pour explorer toutes les fonctionnalités d'Ensemble sans engagement.</p>
          <h5> Plus de 2 mois offerts pour un abonnement annuel !!</h5></h5>
					<ul class="list-unstyled">
						<li>1 classe : 5€ / mois ou 50€ l’année</li>
						<li>2 classes : 10€ / mois ou 100€ l’année</li>
						<li>Jusque 4 classes : 20€/mois ou 198€ l’année</li>
						<li>Jusque 6 classes : 30€/mois ou 295€ l’année</li>
						<li>Jusque 8 classes : 40€/mois ou 390€ l’année</li>
						<li>Jusque 10 classes : 50€/mois ou 480€ l’année</li>
					</ul>
					<p>Au-dessous, veuillez nous contacter directement.</p>
					<p>Une classe est limitée à 23 élèves.</p>
					<p>Les tarifs sont indiqués hors taxe et sont sujets à modification.</p>
				</div>
			</div>
			<div class="col-md-6">
				<p class="lead text-center">La sécurité des données est au cœur de notre engagement, assurant une confidentialité absolue pour les informations sensibles des élèves et des enseignants. Découvrez une nouvelle ère dans l'enseignement, où la personnalisation de l'apprentissage devient un véritable moteur de réussite.</p>
			</div>
		</div>
	</div>
</footer>
