<div class="home-images">
	<div id="carouselExampleSlidesOnly" class="carousel slide home-images-slides"
  data-bs-interval="1000" data-bs-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<%= image_tag 'captures/evaluation.png', alt: 'evaluation',width: '380px' %>
			</div>
			<div class="carousel-item">
				<%= image_tag 'captures/progression_student.png', alt: 'student progression',width: '380px' %>
			</div>
			<div class="carousel-item">
				<%= image_tag 'captures/tableau_competences.jpg', alt: 'skill list',width: '380px' %>
			</div>
		</div>
	</div>
</div>
