
<div class="hosting-banner text-center py-4">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-6">
				<p class="mb-0" style="text-align: justify;">
					L'application <strong>Ensemble</strong> est hébérgée en France grâce à <strong>Scalingo</strong>.
					<br>
					<strong>Scalingo</strong> est un service PaaS dont les serveurs sont situés en France.
					<br>
					De plus, cet hébergement est <strong>certifié ISO 27001</strong>, garantissant ainsi la sécurisation optimale de vos données. La certification ISO 27001 est une norme internationale qui atteste de la mise en place de mesures de sécurité rigoureuses pour protéger les informations sensibles.
				</p>
			</div>
			<div class="col-md-3">
				<%= link_to  "http://www.scalingo.com/fr", target: "_blank" do%>
					<%= image_tag "scalingo-logo.png", alt: "Scalingo Logo", class: "img-fluid" %>
				<% end %>
			</div>
			<div class="col-md-3">
				<%= link_to "https://scalingo.com/fr/certification-iso-27001", target: "_blank" do%>
					<%= image_tag "iso_27001.png", alt: "ISO 27001 Logo", class: "img-fluid", width: "50%" %>
				<% end %>
			</div>
		</div>
	</div>
</div>
