<div class="popup-pwa-install" data-controller="pwa-installer"
data-pwa-installer-target="installPrompt">
	Installer l'application sur votre téléphone pour une utilisation optimale
	<div class='install-pwa'>
    <button class="  btn-flat">Ne plus montrer</button>
		<button class=" btn-flat"
    data-action="click->pwa-installer#onInstall">
			Installer
		</button>
	</div>
</div>
