<% if @is_chrome %>
	<div class="popup-pwa-install" data-controller="pwa-installer"
  data-pwa-installer-target="installPrompt">
		Installer l'application sur votre téléphone pour une utilisation optimale
		<div class='install-pwa'>
			<button class="btn btn-flat p-2" data-action="pwa-installer#hidePrompt">Ne plus montrer</button>
			<button class="btn btn-flat p-2" data-action="click->pwa-installer#onInstall">
				Installer
			</button>
		</div>
	</div>
<% else %>
	<div class="popup-pwa-install" data-controller="pwa-installer"
  data-pwa-installer-target="installPrompt">
		<p>Installer l'application sur votre téléphone pour une utilisation optimale</p>
		<br>
		<div class='--'>
			<div class="w-100 d-flex align-items-center">
				<div class="--width-80">Appuyer sur le bouton de partage <br>
					de votre navigateur</div>
				<svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" fill="currentColor"
        class="--center-content  --roseL" style='height: 100%;' viewBox="0 0 16 16">
					<path fill-rule="evenodd" d="M3.5 6a.5.5 0 0 0-.5.5v8a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5v-8a.5.5 0 0 0-.5-.5h-2a.5.5 0 0 1 0-1h2A1.5 1.5 0 0 1 14 6.5v8a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 14.5v-8A1.5 1.5 0 0 1 3.5 5h2a.5.5 0 0 1 0 1h-2z"/>
					<path fill-rule="evenodd" d="M7.646.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 1.707V10.5a.5.5 0 0 1-1 0V1.707L5.354 3.854a.5.5 0 1 1-.708-.708l3-3z"/>
				</svg>
			</div>
			<br>
			<div class="w-100 d-flex align-items-center">
				<div class="--width-80">Et choisir "Ajouter à l'écran d'accueil"</div>
				<svg xmlns="http://www.w3.org/2000/svg" class="--center-content --roseL"
          style='height: 100%;' width="3rem" height="3rem" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
					<path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 12h6" />
					<path d="M12 9v6" /><path d="M3 5a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-14z" />
				</svg>
			</div>
		</div>
		<button class="btn-flat --center-content w-100 mt-2 mb-2"
    data-action="pwa-installer#hidePrompt">
    Ne plus montrer
    </button>
	</div>
<% end %>
