<div class="splide home-images" role="group" aria-label="Creation Illustrations" data-controller='splide'>
	<div class="splide__track home-images-slides" >
		<div class="splide__list">
			<div class="splide__slide">
				<%= image_tag 'captures/sharing_classrooms.png', alt: 'partage de classe',width: '380px' %>
			</div>
			<div class="splide__slide">
				<%= image_tag 'captures/sharing_workplan.png', alt: 'workplan sharing',width: '380px' %>
			</div>
		</div>
	</div>
</div>
