<div class="home-images">
	<div id="carouselExampleSlidesOnly" class="carousel slide home-images-slides" data-bs-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<%= image_tag 'captures/sharing_classrooms.png', alt: 'partage de classe',width: '380px' %>
			</div>
			<div class="carousel-item">
				<%= image_tag 'captures/sharing_workplan.png', alt: 'workplan sharing',width: '380px' %>
			</div>
		</div>
	</div>
</div>
