<div class="home-images">
	<div id="carouselExampleSlidesOnly" class="carousel slide home-images-slides"
  data-bs-interval="1200" data-bs-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<%= image_tag 'captures/exo.png', alt: 'challenges list',width: '380px' %>
			</div>
			<div class="carousel-item">
				<%= image_tag 'captures/list_wp.png', alt: 'workplan list',width: '380px' %>
			</div>
			<div class="carousel-item">
				<%= image_tag 'captures/list_wp.png', alt: 'workplan list',width: '380px' %>
			</div>
      			<div class="carousel-item">
				<%= image_tag 'captures/wp_index_mobile.png', alt: 'workplan list mobile',height: '288px' %>
			</div>
		</div>
	</div>
</div>
