<div id="home">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%=image_url('back_to_school.jpg') %>);">
    <div class= "logo bg-white">
      <img src="https://res.cloudinary.com/dr50qe2fh/image/upload/v1638453284/LOGO_lesptr.svg">
    </div>
    <div class="container home-container">
      <h1>ENSEMBLE</h1>
      <h2>LA SOLUTION aux préparations et partages des plans de travail</h2>
    </div>
  </div>

  <div class="description">
    <div class="text-center mb-5">
      <%= link_to "Commencer à créer",dashboard_path, class: "btn btn-flat mt-4 mb-4 ml-4 mr-4" %>
    </div>
    <%= image_tag "desc.svg" %>
  </div>
</div>
