<div id="home-mobile">
  <div class="banner ">

    <%# <%= image_tag ('back_to_school.jpg'), class:'bckg' %>
    <div class= "logo">

      <img src="https://res.cloudinary.com/dr50qe2fh/image/upload/v1638453284/LOGO_lesptr.svg">
    </div>
    <div class="">
      <h1>La solution aux préparations et partages des plans de travail</h1>
    </div>
  </div>
  <%# BOUTON %>
  <!--
  <div class="">
    <div class="mb-5">
      <%= link_to "Evaluer",dashboard_path, class: "btn-flat " %>
    </div>
  </div>-->
</div>
