<%= turbo_frame_tag "new_domain" do%>
	<%= link_to  new_grade_domain_path(grade, Domain.new()) do%>
		<div class="domain-box form-domain-btn --bgc-rose --blanc ">
			Ajouter une compétence
		</div>
	<% end %>
<% end %>
