<div class="domain-form-box form-domain-btn" >
	<%= simple_form_for [grade,domain], html: { novalidate: false } do  |f| %>
		<div class="domain-form
">
			<%= f.input :name, label: false, required: true,class: '--bgc-transparent' %>
			<div class="d-none">
				<%= f.association :grade, value:grade%>
			</div>
			<%= button_tag type: 'submit', class: '--bgc-transparent' do %>
				<i class="fa-solid fa-circle-check"></i>
			<% end %>
		</div>
	<% end %>
</div>
