<%=  turbo_frame_tag dom_id(domain) do%>
	<div class="domain-box" >
		<%= link_to  edit_domain_path(domain) do%>
			<i class="fas fa-pen fa-xs me-2" ></i>
		<% end %>
		<%= domain.name %>
		<%= button_to domain_path(domain), method: :delete,
            class: '--bgc-transparent p-0',
            data: {confirm: "Voulez-vous supprimer ce domaine ?
Vous supprimerez tous les exercices, compétences et évaluations liés à ce domaine."} do%>
			<i class="fa-solid fa-circle-xmark ms-2"></i>
		<% end %>
	</div>
<% end %>
