.border-round-rose {
  padding: 2px;
}
.belt-edit-header-1 {
  // background-color: $grisC;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border: thin solid $grisC;
  // border: thin solid $roseL;
  padding: 15px 20px 5px 20px;

  h2 {
    color: black;
    i {
      font-size: 2rem;
    }
  }
  h4 {
    // text-align: right;
    margin-left: 45px;
    color: $grisC;
    font-style: italic;
  }
}
.belt-edit-header-3 {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: $roseL;
  padding: 5px 30px 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    color: white;
    margin: 0 !important;
  }
}

.date-selection {
  padding: 15px 30px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 20px;
  border-left: thin solid $grisC;
  border-right: thin solid $grisC;
  .area {
    width: 16ch;
    font-size: 18px;
  }
  .btn-valid {
    border: solid $green;
    color: white;
    background-color: $green;
    border-radius: 12px;
    font-size: 20px;
    font-weight: 600;
    transition: 0.3s;
    &:hover {
      border: solid $green;
      color: $green;
      background-color: white;
    }
  }
}
.delete-belt-btn {
  &:hover {
    transform: scale(1.1);
    transition: 0.5s;
  }
}
