<script async
  src="https://js.stripe.com/v3/buy-button.js"></script>
<div class="flex">
	<stripe-buy-button
  buy-button-id="buy_btn_1NKhsRD36LSTpclfRo3a06ik"
  publishable-key="pk_test_51Mt82uD36LSTpclfBod1c7tSPaI3JSosgUrZyqoNrALnGLA12m3tdHrHWQ7DzVBliwl5VweMexoaLgIkBWUU8wJD00VUpvKwq6"
>
	</stripe-buy-button>
	<stripe-buy-button
  buy-button-id="buy_btn_1NKhxrD36LSTpclfpceKs7aW"
  publishable-key="pk_test_51Mt82uD36LSTpclfBod1c7tSPaI3JSosgUrZyqoNrALnGLA12m3tdHrHWQ7DzVBliwl5VweMexoaLgIkBWUU8wJD00VUpvKwq6"
>
	</stripe-buy-button>
</div>
