<script async
  src="https://js.stripe.com/v3/buy-button.js"></script>
<div class="container d-flex">
	<div class="speech w-50">
		<h3 class='p-2'>Benéficiez de 30 jours d'essais, quelque soit votre choix de durée d'abonnement.</h3>
	</div>
	<div class="stripe-card-select-subscription">
  <%= button_to "demarrer un un abonnement annuel", subscriptions_path, data:{turbo:"false"} %>

  "demarrer un abonneme mensuel"


	</div>
</div>
