<script async src="https://js.stripe.com/v3/pricing-table.js"></script>
<div class="container d-flex">
<div class="speech w-50">
<h3 class='p-2'>Benéficiez de 20 jours d'essais, quelque soit votre choix de durée d'abonnement.</h3>
</div>
<div class="stripe-card-select-subscription">
	<stripe-pricing-table pricing-table-id="prctbl_1NL08ID36LSTpclfsjbO3RrT"
    publishable-key="pk_test_51Mt82uD36LSTpclfBod1c7tSPaI3JSosgUrZyqoNrALnGLA12m3tdHrHWQ7DzVBliwl5VweMexoaLgIkBWUU8wJD00VUpvKwq6"
    customer-email="<%= current_user.email%>" >
	</stripe-pricing-table>
</div>
</div>
