<%= render 'shared/sequence_4', sequence: @sequence %>
<div class="container-success">
	<h2>Confirmation d'abonnement</h2>
	<div class="success-icon">
		<i class="fa fa-check-circle"></i>
	</div>
	<p class="confirmation-message">Félicitations ! Votre abonnement a été validé et payé avec succès.</p>

</div>
<%= link_to  dashboard_path() do%>
	<i class="fa-solid fa-circle-arrow-left"></i>
Retour à votre Cartable
<% end %>
