<div data-controller="table-editor" data-table-editor-id="<%= table.attachable_sgid %>">
  <button type="button" data-action="table-editor#addRow"> Ajouter 1 Ligne </button><button type="button" data-action="table-editor#addColumn">Ajouter 1 Colonne</button>
  <table class="table is-bordered">
    <% (0...table.rows).each do |r| %>
      <tr>
        <% (0...table.columns).each do |c| %>
          <td><input class="table-input" data-key="<%= r %>-<%= c %>" data-action="table-editor#updateCell" value="<%= table.data["#{r}-#{c}"]%>" /></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
