<div class='d-flex justify-content-between align-items-baseline'>
  <h1><%= work_plan.name%></h1>
  <center><h4 class='date-domain'>Du <%= work_plan.start_date.strftime("%d/%m/%Y")%> Au <%= work_plan.end_date.strftime("%d/%m/%Y")%></h4></center>
</div>
