.backg-image-sub {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("child_hand-min.jpg");
  background-size: cover;
  padding: 15px 10px 30px 10px;
  border-radius: 15px;
  height: 642px;
}
.speech {
  color: $blanc;
  padding-left: 30px;
}
.stripe-card-select-subscription {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.left-card-sub_new {
  display: flex;
  flex-direction: column;
  width: 288px;
}
.sub_header {
  width: 389px;
  // width: 288px;
  margin-bottom: 15px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .period-sub-btn {
    position: relative;
    top: 31px;
    left: -103px;
    padding: 10px 19px;
    text-align: left;
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    justify-content: center;
    // text-align: center;
    font-size: 16px;
    cursor: pointer;
    background-color: $menuOff;
    color: $blanc;
    p {
      margin: 0;
      padding: 0;
    }
  }
  .period-sub-btn.active {
    background-color: #f241508f;
    color: #ffffff;
    font-weight: 600;
    border-radius: 10px;
  }
  .period-sub-btn.left-sub-btn {
    padding: 5px 0px 5px 18px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 48%;
  }
  .period-sub-btn.right-sub-btn {
    padding: 5px 0 5px 15px;
    width: 60%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .separator {
    position: absolute;
    width: 29px;
    height: 100%;
    background-color: $menuOff;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 1;
    transform: translateX(-30%);
  }
  .separator.active {
    background-color: $rose;
  }
}
.stripe-card-select-subscription-cards {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  .subscription-detail {
    width: 453px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
    height: 378px;
    color: white;
  }
  i {
    color: $rose;
    margin-right: 10px;
  }
}
// css for sub creation
.top-sequence {
  margin: 0 auto;
  width: 500px;
}
.sequence-box {
  display: flex;
  align-items: center;
}
.sequence-counter-box {
  display: flex;
  font-size: 1rem;
  height: 1rem;
  width: 1rem;
  padding: 1rem;
  border-radius: 50%;
  justify-content: center;
  /* align-content: center; */
  align-items: center;
  font-weight: 700;
  background-color: $blanc;
  color: $roseL;
  border: thin solid $roseL;
  &.active {
    background-color: $roseL;
    color: $blanc;
    border: none;
  }
}
.sequence-line {
  height: 2px;
  background-color: $roseL;
  width: 100%;
  // width: calc((100% - 8rem) / 4);
}
.sub-title {
  margin-top: 3rem;
  text-align: center;
  width: 50vw;
}
.sub-sequence-selection {
  width: 50vw;
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  .action-school-box {
    font-size: 1.5rem;
    // border: thin solid $roseL;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: $roseL;
    font-weight: 500;
    color: $blanc;
    border: thin solid transparent;
    &:hover {
      cursor: pointer;
      background-color: $blanc;
      color: $roseL;
      border: thin solid $roseL;
    }
  }
}
.vertical-bar {
  width: 0px;
  // height: 100%;
  border: 1px solid $roseL;
}

.subscription-input {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 200px;
  gap: 30px;
  p {
    text-align: end;
    padding-right: 1rem;
  }
  .form-control{
    border-radius: 0.5rem !important;
    width: fit-content !important;
  }
}
.display-sub{
  border: thin solid $grisC;
  padding: 0.5rem;
  border-radius: 0.5rem !important;
  width: 13.1ch;
}
.sub-global-form{
  margin: 3rem 0;
  display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    // .subscription-input{
    //   gap: 2.45rem !important;
    // }
}
.sub-right-form{
  display: flex;
  // width: 40%;
  gap: 0.5rem;
}
.sub-input{
  text-align: end;
  display: flex;
    flex-direction: column;
    width: 100%;
    align-content: space-around;
    height: auto;
    gap: 1rem;
    justify-content: space-evenly;
    p{
      margin: 0;
    }
}
.subscription-input-right {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    height: 100%;
    justify-content: space-around;
}
