<div class="carrousel-cancellation --roseL --bgc-blanc --cursor-pointer"
  data-action="click->ajax-replace-challenge#closeCarrousel">
	<i class="fa-solid fa-circle-xmark"></i>

</div>

<div class="carrousel-validation --vert --bgc-blanc --cursor-pointer"
  data-action="click->ajax-replace-challenge#replaceChallenge">
	<i class="fa-solid fa-circle-check"></i>
</div>
