<div class="challenge-mngt">
	<%# cloner un exo %>
	<%= link_to work_plan_skill_clone_path( @work_plan_skill, @challenge.id),
                              action: 'clone', method: 'post',
                              class: 'replace-challenge-btn' do %> <%#data:{ action: "click->replace-challenge#cloneChallenge"}%>
		<i class="far fa-clone me-2"></i>
		<h6>Cloner</h6>
	<% end %>
	<%# REPLACE A CHALLENGE %>
	<div data-controller="skill-add" data-ajax-replace-challenge-exo-value="<%=@challenge.id%>">
		<div data-edit-challenge-target="button" data-skill-add-target="button" data-action="click->ajax-replace-challenge#showCarrousel" class='replace-challenge-btn'>
			<i class="far fa-folder-open me-2"></i>
			<h6>Charger</h6>
		</div>
	</div>
	<%# REPLACE A CHALLENGE END %>
</div>
