<div class="challenge-mngt">
	<%# cloner un exo %>
	<%= button_to work_plan_skill_clone_path( @work_plan_skill, @challenge.id),
                              remote: true,
                              class: 'replace-challenge-btn',
                              data:{ action: "click->ajax-replace-challenge#cloneChallenge"} do %>
		<i class="far fa-clone me-2"></i>
		<h6>Cloner</h6>
	<% end %>
	<%# REPLACE A CHALLENGE %>
	<div data-controller="skill-add" data-ajax-replace-challenge-exo-value="<%=@challenge.id%>">
		<div data-skill-add-target="button" data-action="click->ajax-replace-challenge#showCarrousel" class='replace-challenge-btn'>
			<i class="far fa-folder-open me-2"></i>
			<h6>Charger</h6>
		</div>
	</div>
	<%# REPLACE A CHALLENGE END %>
</div>
