<div class="challenge-card " id='<%=@challenge.id%>' >
	<%= render 'btn_validation_challenges_carrousel', challenge: @challenge %>
	<div class="challenge-infos carrousel-margin " >
		<div class="challenge-name-in-content"><%= @challenge.name%> </div>
		<%= challenge.content.body %>
	</div>
</div>
