//
// Provides a drop-in pointer for the default Trix stylesheet that will format the toolbar and
// the trix-editor content (whether displayed or under editing). Feel free to incorporate this
// inclusion directly in any other asset bundle and remove this file.
//
//= require trix/dist/trix

// We need to override trix.css’s image gallery styles to accommodate the
// <action-text-attachment> element we wrap around attachments. Otherwise,
// images in galleries will be squished by the max-width: 33%; rule.
.trix-content {
  font-size: 18.5px;
  font-family: Arial, Helvetica, sans-serif;
  img {
    width: 100%;
  }
  .attachment-gallery {
    > action-text-attachment,
    > .attachment {
      flex: 1 0 33%;
      padding: 0 0.5em;
      max-width: 33%;
    }

    &.attachment-gallery--2,
    &.attachment-gallery--4 {
      > action-text-attachment,
      > .attachment {
        flex-basis: 50%;
        max-width: 50%;
      }
    }
  }

  action-text-attachment {
    .attachment {
      padding: 0 !important;
      max-width: 100% !important;
    }
  }
  .attachment--preview {
    .attachment__caption {
      display: none;
    }
  }
}

trix-editor {
  background-color: rgba(250, 128, 114, 0.308);
  padding: 0 !important;
}
.trix-button-group--text-tools {
  width: 200px;
}

#challenge_content {
  button[type="button"] {
    margin: 10px 10px;
    padding: 10px;
    border-radius: 15px;
  }
}

.add-trix-btn {
  width: 24px;
  height: 24px;
  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: $blanc;
  border-left: 1px solid #ccc;
  cursor: pointer;
}
.trix-color-pickr {
  position: absolute;
  left: 100px;
  /* padding-bottom: 254px; */
}
.underline-btn {
  width: 2rem;
  height: 1.65rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-left: 1px solid #ccc;
}
.trix-active {
  background: #cbeefa;
  color: black;
}
.trix-button--icon-link{
  display: none;
}
