.area {
  border: $grisC solid 1px;
  border-radius: 12px;
  padding: 10px;
  color: $grisC;
  font-family: $plan-font;
  font-size: 18px;
  list-style: none;
}

.rect-xl {
  width: 90%;
}

.rect-lg {
  width: 40%;
}

.rect-sm {
  width: 25%;
}
