
.banner {
  background-size: cover;
  background-position: center;
  padding: 6vh;
  height: 600px;
}

.banner {
  h1 {
    margin: 0;
    color: white;
    font-size: 50px;
    font-weight: bold;
    font-family: $titres-font;
  }

  h2 {
    margin: 0;
    color: white;
    font-size: 25px;
    font-weight: lighter;
    font-family: $plan-font;
  }
}


.blanche {
  height: 100px;
}
 .logo {
  width: fit-content;
  padding: 1rem;
  border-radius: 1rem;
  margin-left: 3rem;
 }

//  .left-card1 {
    // font-family: $titres-font;
//  }

// .content {
    // font-family: $body-font;
