
.banner {
  background-size: cover;
  background-position: center;
  padding: 6vh;
  height: 600px;

  .logo {
    border-radius: 1rem;
    margin: 0 auto;
    padding: 1rem;
width: fit-content;
    img {
      width: 10rem;
      height: 10rem;
    }
  }

  .blanche {
    height: 100px;
  }

  h1 {
    margin: 0;
    color: white;
    font-size: 50px;
    font-weight: bold;
    font-family: $titres-font;
  }

  h2 {
    margin: 0;
    color: white;
    font-size: 25px;
    font-weight: lighter;
    font-family: $plan-font;
  }
}

// MOBILE css
.mobile-home {
  min-height: 100vh !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding: 0 10vw;
  h1{
    font-size: 4ch;
    color: white;
    font-family:$titres-font;
  }
}
.mobile-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("back_to_school_light.jpg");
  background-size: cover;
}
.mobile-logo {
  padding: 3vh;
  display: flex;
  justify-content: center;
  background-color:white;
  border-radius: 15px;
}

.mobile-begin{
  font-size: 3ch;
}


//  .left-card1 {
    // font-family: $titres-font;
//  }

// .content {
    // font-family: $body-font;
