
.banner {
  background-size: cover;
  background-position: center;
  padding: 6vh 0 6vh 0;
  height: 600px;

  .logo {
    border-radius: 1rem;
    margin: 0 auto;
    padding: 1rem;

    img {
      width: 10rem;
      height: 10rem;
    }
  }

  .blanche {
    height: 100px;
  }

  h1 {
    margin: 0;
    color: white;
    font-size: 50px;
    font-weight: bold;
    font-family: $titres-font;
  }

  h2 {
    margin: 0;
    color: white;
    font-size: 25px;
    font-weight: lighter;
    font-family: $plan-font;
  }
}




//  .left-card1 {
    // font-family: $titres-font;
//  }

// .content {
    // font-family: $body-font;
