// Belt Color
.belt-1 {  color: $belt-1; }
.belt-2 {  color: $belt-2; }
.belt-3 {  color: $belt-3; }
.belt-4 {  color: $belt-4; }
.belt-5 {  color: $belt-5; }
.belt-6 {  color: $belt-6; }
.belt-7 {  color: $belt-7; }
