// Belt Color
.belt-1 {  color: $belt-1 !important; }
.belt-2 {  color: $belt-2 !important; }
.belt-3 {  color: $belt-3 !important; }
.belt-4 {  color: $belt-4 !important; }
.belt-5 {  color: $belt-5 !important; }
.belt-6 {  color: $belt-6 !important; }
.belt-7 {  color: $belt-7 !important; }

.belt-bg-1 {  background-color: $belt-1 !important; }
.belt-bg-2 {  background-color: $belt-2 !important; }
.belt-bg-3 {  background-color: $belt-3 !important; }
.belt-bg-4 {  background-color: $belt-4 !important; }
.belt-bg-5 {  background-color: $belt-5 !important; }
.belt-bg-6 {  background-color: $belt-6 !important; }
.belt-bg-7 {  background-color: $belt-7 !important; }
