.btn-flat {
  margin-left: 20px;
  color: white;
  padding: 6px 24px;
  border-radius: 4px;
  background: $blue;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: white;
  color: $blue;
}
