.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 10px;
  // background: #1EDD88;
  transition: background 0.3s ease;
  background-color: $rose;
}
.btn-flat:hover {
  background: white;
  color: $rose;
  border: solid $rose;
}

.delete_acompte_btn {
  color: $rose;
}
