.btn-flat {
  color: white;
  padding: 2px 10px;
  border-radius: 0.5rem;
  border: solid $rose;
  // background: #1EDD88;
  transition: background 0.3s ease;
  background-color: $rose;
  input, h6{
    margin: 0;
  }
}
.btn-flat:hover {
  background: white;
  color: $rose;
  border: solid $rose;
}
.btn-flat-no-hover {
  color: white;
  padding: 2px 10px;
  border-radius: 0.5rem;
  border: solid $rose;
  // background: #1EDD88;
  transition: background 0.3s ease;
  background-color: $rose;
  input, h6{
    margin: 0;
  }
}

.delete_acompte_btn {
  color: $rose;
}

.btn-flat-green {
  color: white;
  padding: 8px 24px;
  border-radius: 10px;
  // background: #1EDD88;
  transition: background 0.3s ease;
  background-color: $green;
}
.btn-flat-green:hover {
  background: white;
  color: $green;
  border: solid $green;
}
.add-green-btn {
  color: white;
  padding: 8px 24px;
  border-radius: 10px;
  // background: #1EDD88;
  transition: background 0.3s ease;
  background-color: $green;
  border: solid $green;
  width: fit-content;
}
.add-green-btn:hover {
  background: white;
  color: $green;
  cursor: pointer;
}
