.btn-flat {
  margin-left: 20px;
  background-color: $rose !important;
  color: white;
  padding: 6px 24px;
  border-radius: 15px;
  background: $blue;
  transition: background 0.3s ease;
}
.btn-flat:hover {
  background: white;
  color: $blue;
}

.delete_acompte_btn {
  color: $rose;
}
