.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 10px;
  // background: #1EDD88;
  transition: background 0.3s ease;
  background-color: #FF8888;
}

.home-container {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.box-include-button {
  padding: 24px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: #FF8888;
  background-color: white;
  border: solid #FF8888;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  }

.space-button {
  padding : 5%;
  display: flex;
  margin: auto;
}

.utility-wp-btn {
  margin:7px 0 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 12px;
  width: 110px;
  height: 2em;
  border: 3px solid $rose;
  transition: 0.3s;
  color: $rose;

  h6 {
    // padding: 10px;
    margin: 0;
  }
  i {
    font-size: 12px;
  }
}

.utility-wp-btn:hover {
  transition: 0.2s;
  background-color: $rose;
  border-color: $rose;
  color: $rose;
  cursor: pointer;
  i,
  h6 {
    color: $white;
  }
  }
