.flash {
  position: fixed;
  bottom: 2.5rem;
  right: 2%;
  // transform: translateX(-50%);
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-s);

  max-width: 100%;
  width: max-content;
  padding: 0 var(--space-m);

  &__message {
    font-size: var(--font-size-s);
    color: $roseL;
    padding: 10px 15px;
        background-color: $blanc;
    animation: appear-then-fade 8s both;
    border-radius: 10px;
    border: thin solid $roseL;
  }
}
