// Import your components CSS files here.
@import "actiontext";
@import "alert";
@import "area";
// @import "avatar";
@import "banner";
@import "button-home";
@import "category";
@import "nav-gauche";
@import "nav_haut";
@import 'dashboard'
