@use "../config/colors";
@use "../config/font_families";

.input{
  background-color: colors.$white;
  border-radius: 12px;
  padding: 10px;
  font-family: font_families.$plan-font;
  font-size: 18px;
}
.input-fit{
  background-color: colors.$white;
  border-radius: 12px;
  padding: 10px;
  font-size: 18px;
  width: fit-content;
}
