.modal-ensemble {
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.modal-ensemble-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border-radius: 0.4rem !important;
  border: thin solid #f24150;
  width: fit-content;
  max-width: 60%;
}
.modal-ensemble-header{
  display: flex;
  gap: 1rem;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: var(--bs-modal-header-padding);
    border-bottom: var(--bs-modal-header-border-width) solid var(--bs-modal-header-border-color);
    border-top-left-radius: var(--bs-modal-inner-border-radius);
    border-top-right-radius: var(--bs-modal-inner-border-radius);
    margin-bottom: 1rem;
}
.modal-ensemble-footer{
    gap: 1rem;
    display: flex;
    flex-shrink: 0;
    /* flex-wrap: wrap; */
    align-items: baseline;
    justify-content: flex-end;
    padding: calc(var(--bs-modal-padding) - var(--bs-modal-footer-gap)* .5);
    background-color: var(--bs-modal-footer-bg);
    border-top: var(--bs-modal-footer-border-width) solid var(--bs-modal-footer-border-color);
    border-bottom-right-radius: var(--bs-modal-inner-border-radius);
    border-bottom-left-radius: var(--bs-modal-inner-border-radius);
    button, input{
      border-radius: 0.5rem;
    }
}
