.main_nav{
  font-family: $nav-gauche-font;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  // align-items: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 100vh;
  background-color: $blanc;
  border-right: 1px solid $grisC;
  border-color: transparent, $grisC, transparent, transparent;
  position: fixed;
}

.logo{
  border-color: transparent, transparent, $grisC, transparent;
  padding-bottom: 4em;
  padding-top: 1.5em;
  margin-right: 40px;
  img{
  width: 99px;
  height: 90px;
  }
}

.menu-g{
  width: fit-content;
  padding: 5px;
}
.menug-container{
  display:flex;
  flex-direction: column;
  justify-content: space-between;

  height: 191px;
  margin-bottom: 6em;
  a {
   text-decoration: none;

     }

}
.active{
color: $grisF;
}
.on{
  background-color: $rose;
   border: thin solid inherit;
  padding: 5px;
  margin-right: -5px;
  border-radius: 10px;
  margin-left: 10px;
}


.menug_icone{
  align-items: center;
  color: $grisC;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
  padding: 5px 5px 5px 0;
  transition: opacity 2s ease .05s;
  width: 100px;
  height: 40px;
}

.menug_icone:hover{
  color: $rose;
  background-color: inherit;

}



// .off {
//   color: $grisF;
//   transition: color 0.3s, opacity 0.3s;
//   opacity: .4;
//   :hover{
//     color: $grisF;
//     opacity: 1;
//     transition: color 0.3s, opacity 0.3s;
//   }
// }

// .menug_creer{
//   align-items: center;
//   display:flex;
//   flex-direction: row;
//   justify-content: space-between;
//   margin: 10px 0;
// }
// .menug_evaluer{
//   align-items: center;
//   display:flex;
//   flex-direction: row;
//   justify-content: space-between;
//   transition: opacity 2s ease .05s;
//   margin: 10px 0;
//   color: $grisC;
// }
// .menug_evaluer:hover{
//     color: $grisF;
//     transition: color 2s ease .05s;
//   }

// .menug_partager{
//   align-items: center;
//   display:flex;
//   flex-direction: row;
//   justify-content: space-between;
//   transition: opacity 2s ease .05s;
//   margin: 10px 0;
//   color: $grisC;
//   // :hover{
//   //   color: $grisF;
//   //   transition: color 2s ease .05s;
//   // }
// }
.calendrier{
  margin-bottom: 1em;
  h3{
    font-family: $titres-font;
    color: $grisF;
    font-weight: 700;
    font-size: 16px;
  }
  h4{
    font-family: $plan-font;
    color: $rose;
    font-weight:400;
    font-size: 16px;
  }
  p{
    font-family: $plan-font;
    color: $grisF;
    font-weight:400;
    font-size: 16px;
  }
}
.deco{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: white;
  margin-bottom: 10px;
  .fas{
    color:$rose;
    padding-right: 5px;
  }
  h6{
    font-family: $nav-gauche-font;
    font-size: 12px;
    font-weight: 700;
  }
}
