.navhaut {
  display: flex;
  justify-content: space-between;
  width: 100%;
  // height: 80px;
  background-color: $white;
  padding: 5px 20px 5px 20px;
  // margin-bottom: 30px;
  // align-content: flex-end;
}

.quote {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.navbar-links {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: baseline;
}
.bullet-chat {
  position: relative;
  width: 0.5rem;
  height: 0.5rem;
  background-color: $belt-4;
  border-radius: 50%;
  font-size: 0px;
  font-size: 0px;
  top: -25px;
  left: 17px;
}

.bullet-chat-2 {
  position: relative;
  width: 0;
  height: 0;
  border-radius: 50%;
  top: -12px;
  left: 39px;
  font-size: 0.8rem;
  color: #4caf50 !important;
}
img.avatar {
  padding: 0;
  border-radius: 50em;
  width: 55px;
  height: 55px;
  margin: 10px 0 10px 10px;
}
.dropdown-menu.left {
  margin-left: -135px !important;
}

.dropdown-item {
  a {
    font-family: "Poppins", sans-serif;
    // font-size: 10px;
    font-weight: lighter;
    color: $rose;
  }
}

.avatar {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 700;
  color: $rose;
  padding-top: 20px;

  h3 {
    font-size: 1.5em;
    font-weight: 700;
    color: $grisF;
    margin-bottom: 0;
  }
  p {
    color: $rose;
  }
}

.left {
  margin-left: -50px;
}

.display-user {
  width: auto;
  padding: 15px 0;
}

.navbar {
  padding: 0;
}
