.cont-challenge{
  padding: 20px 0;
  padding-left: 30px;
  padding-right: 20px;
  margin: 20px 20px 30px 30px;
  border:  solid #dddddd ;
  border-radius: 14px;
}

.challenge-mngt{
  margin-top: 20px;
  padding: 0 5px 0 0 ;
}

.edit-challenge{
  background-color: $rose;
}

.btn-maison{
  border:  solid $menuOff;
  background-color: inherit;
  color: $grisF;
  font-family: "Poppins", sans-serif;
  border-radius: 14px;
  align-items: center;
  padding: 10px 10px 0 5px;
  display: flex;
  align-items: baseline;
    p{
      font-size: 1rem;
      margin-left: 5px;
    }
  }

.modify-challenge-btn{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 12px;
  width: 134px;
  height: 2em;
  border: 3px solid $rose;
  transition: 0.3s;
  color: $rose;
  margin-bottom: 6px;
  h6 {
    padding: 10px;
    margin: 0;
  }
  i{
    font-size: 12px;
  }
}

.modify-challenge-btn:hover{
  transition: 0.2s;
  background-color: $rose;

  border-color: $rose;
  color: $rose;
  i, h6{
    color: $white;
  }
}

.replace-challenge-btn{
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 12px;
  width: fit-content;
  height: 2em;
  border: 3px solid $rose;
  transition: 0.3s;
  color: $rose;

  h6 {
    padding: 10px;
    margin: 0;
  }
  i{
    font-size: 12px;
  }
}

.replace-challenge-btn:hover{
  transition: 0.2s;
  background-color: $rose;
  border-color: $rose;
  color: $rose;
  i, h6{
    color: $white;
  }
}

.cancel-btn{
  border-radius: 12px;
  width: fit-content;
  border: 3px solid $grisC;
  background-color: $grisC;
  font-weight: 700;
  font-size: 20px;
  color: white;
  margin: 4px;
  padding: 0;
  transition: 0.3s;
  padding: 0.5rem 1rem;
  display: inline-block;


  &:hover{
    background-color: $white;
    color: $grisC;
  }
}

[type="submit"] {
  -webkit-appearance: none !important;
}

.validate-btn{
  border-radius: 12px;
  width: fit-content;
  border: 3px solid $rose;
  background-color: $rose;
  font-weight: 700;
  font-size: 20px;
  color: $white;
  margin: 4px;
  padding: 0;
  transition: 0.3s;
  padding: 0.5rem 1rem;
  display: inline-block;

  &:hover{
    background-color: $white;
    color: $rose;
  }
}
