.title{
  padding: 12px;
  // background-color: $menuOff;
  // border-radius: 12px;
  margin-bottom: 12px;
  .content{
    font-family: $titres-font;
    font-size: 36px;
    font-weight: 700;
    color: $grisF;
    }
  .fas{
    color:$rose;
    font-size: 30px;
  }
}
li{
  margin: 0;
}
.wp-item {
  width: fit-content;
  transition: .3s;
  &:hover {
    transform: scale(1.05);
  }
  a {
    text-decoration: none;
  }
}

.wp-text {
  h3, h6{
    color:$grisF;
  }
  h6 span{
    color: $rose;
  }
  padding: 12px;
  color: $rose;
}
