// PT SHOW
.pt{
  max-width: 1000px;
  margin-left: 5px ;
  background-color: white;
  font-family: "Poppins", sans-serif;
  h1{
    font-family: "Poppins", sans-serif;
  }
  h2{
    font-family: "Poppins", sans-serif;
  }
  h3{
    font-family: "Poppins", sans-serif;
  }
}



.pt-header{
  border: thin solid $grisC ;
  border-radius: 14px;
  margin: 5px;
  padding: 5px 2px 0 10px;

 }

.date-domain{
  vertical-align: middle;
}

.student-name{
  width: 150px;
}
.comments{
  width: 400px;
}
 .signaturess{
  width: 150px;
 }

// challenge skill in header
.border-skill{
  border:  solid $rose;
  border-radius: 14px;
  display: flex;
  align-items: center;
  width: 500px;
  padding-left: 2px;

}

.add-skill-btn{
  display: flex;
  vertical-align: text-top;
  border:  solid $rose ;
  border-radius: 14px;
  width: fit-content;
  height: 2em;
  padding: 1px 3px;
  margin-left: 8px;
  background-color: inherit;
  h6{
    padding-left: 10px;
    padding-top: 3px ;
  }
  i{
    color: $rose;
    padding-top: 6px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.add-skill-btn:hover{
  background-color: $rose;
  color: $grisC;
  i{
    color: $grisC;
  }
}

// CSS to display challenge kind with Style

  // div that contains kind display
  .challenge-kind {
    margin-top: -14px;
    margin-right: 40px;
    padding: 2px;
    width: 70px;
    color: $rose;
    height: 2em;

  }

  //  top row
  .kind-label{
  font-size: small;
  padding: 0px 8px;
  margin: 0;
  height: small
  }

  // bottom row
  .kind-display{
  border: solid $rose ;
  border-radius: 20px;
  height: 28px;
  margin-bottom: 5px;
  }

  //cells
  .cells{
    display: flex;
    align-items: center;
    padding: 2px 0;
  }


  // central cell borders
  .b-middle{
      border-left: solid $rose;
      border-right: solid $rose;
      padding: 3px;
    }

    //bullet color
 .bullet-color{
    color: #bf9c9c;
  }
