// PT SHOW
.pt{
  max-width: 1000px;
  margin-left: 5px ;
  background-color: white;
  font-family: "Poppins", sans-serif;
  h1{
    font-family: $titres-font;
  }
  h2{
    font-family: $titres-font;
  }
  h3{
    font-family: "Poppins", sans-serif;
  }
  h4{
    font-family: $titres-font;
  }
}

.domain{
  margin-top: 10px;
  border: thin solid $grisC;
  border-radius: 12px;
}

.pt-header{
  border: thin solid $grisC ;
  border-radius: 12px;
  margin: 5px;
  padding: 5px 2px 0 10px;
}

.bilan{
  height: 80px;
  width: 180px;
  padding: 5px 5px 10px 10px;
  line-height: 20px;
}

.student-name{
  width: 180px;
}
.comments{
  width: 400px;
  height: 80px;
}
.signatures{
  width: 200px;
  padding-right: 10px;
  height: 80px;
}

// challenge skill in header
.border-skill{
  border:  thin solid #dddddd;
  border-radius: 12px;
  display: flex;
  align-items: center;
  width: 635px;
  padding: 5px 10px;
}

.skill-selector{
  display: flex;
  vertical-align: text-top;
  border:  solid #dddddd ;
  border-radius: 12px;
  width: fit-content;
  height: 2em;
  padding: 1px 3px;
  margin-left: 8px;
  background-color: inherit;
  transition: 0.3s;

}

.challenge-selector{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  vertical-align: text-top;
  border:  solid #dddddd ;
  border-radius: 12px;
  max-width: 13ch;
  background-color: inherit;
  transition: 0.3s;
  select:focus-visible {
    outline: 1px solid transparent;
  }
}

.add-skill-btn{
  display: flex;
  vertical-align: text-top;
  border: solid $rose ;
  border-radius: 12px;
  width: fit-content;
  height: 2em;
  padding: 1px 3px;
  margin-left: 8px;
  background-color: $rose;
  transition: 0.3s;
  color: white;
  h6{
    padding-left: 4px;
    padding-top: 3px ;
  }
  i{
    color: $white;
    padding-top: 6px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.add-skill-btn:hover{
  transition: 0.2s;
  background-color: white;
  border-color: $rose;
  color: $rose;
  i{
    color: $rose;
  }
}



// CSS to display challenge kind with Style

  // div that contains kind display
  .challenge-kind {
    margin-top: -14px;
    margin-right: 25px;
    padding: 2px;
    width: 80px;
    color: $rose;
    height: 2em;

  }

  //  top row
  .kind-label{
  font-size: small;
  padding: 0px 8px;
  margin: 0;
  height: small
  }

  // bottom row
  .kind-display{
  border: solid #dddddd ;
  border-radius: 20px;
  height: 38px;
  margin-bottom: 5px;
  }

  //cells
  .cells{
    display: flex;
    align-items: center;
    padding: 2px 0;
  }


  // central cell borders
  .b-middle{
      border-left: solid #dddddd;
      border-right: solid #dddddd;
      padding: 3px;
    }

    //bullet color
.bullet-color{
    color: #bf9c9c;
  }
