// Graphical variables

// Define fonts for body and headers
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$headers-font: 'Poppins', sans-serif;
$body-font: 'Poppins', sans-serif;
$nav-gauche-font: 'Poppins', sans-serif;
$bandeau-haut-font: 'Roboto', sans-serif;
$plan-font: 'Oswald', sans-serif;
$titres-font: 'Baloo 2', cursive;

// Define colors
// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// COULEUR ENSEMBLE
$orange: #FFB888;
$grisF: #3D3D3D;
$grisC: #DDDDDD;
$violet: #E7E4FA;
$jaune: #F9DD8A;
$bleuC: #C8E6FB;
$menuOff: #FFE3CF;
$blanc: #FFFFFF;
$rose: #F24150;

/* _colors.scss */
$belt-1: rgb(240, 230, 230);
$belt-2: rgb(248, 244, 6);
$belt-3: orange;
$belt-4: rgb(13, 196, 22);
$belt-5: rgb(30, 27, 211);
$belt-6: rgb(175, 99, 0);
$belt-7: black;


body{
  width: 1200px;
  height: 1400px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

.alwaysbreak { page-break-before: always; }
.nobreak:before { clear:both; }
.nobreak { page-break-inside: avoid; }


.pt-header-box{
  width: 100%;
  border-radius: 12px;
  margin: 0;
  font-family: 'Baloo 2', cursive;
  border: 1px dashed rgb(0, 255, 42);
}
.challenges{
  // styles for domain loop
  display: block;
  width: 1000px;
  margin-top: 50px;


}

.domain-display {
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}



.belt-display{
  // border: 1px solid rgb(21, 255, 0);
  float: left;
  // margin-left: 20px;
  width: 15%;
  height: 80px;
  text-align: center;
}
.display-challenges{
  margin: 0 0 10px 0;
  // border: 1px dashed black;
  width: 100%;
  clear:both
}
.date-pt{
  display: inline-block;
}
.name-pt{
  display: inline-block;
  width: 70%;
}

.student-box{
  margin: 15px 0px;
  border: 1px solid rgb(187, 13, 143);
  width: 100%;
}
.pt-header{
  border:  solid rgb(0, 0, 0) ;
  border-radius: 12px;
  padding: 5px 5px 0 15px;
}

.student-name{
  display: inline-block;
  padding: 30px 5px 0 5px;
  width: 15%;
  h2{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }
}
.bilan-box{
  display: inline-block;
  width: 220px;
  vertical-align: top;
  margin-right: 10px;

}
.bilan{
  height: 120px;
  line-height: 32px;
}

.box-com{
  display: inline-block;
  width: 500px;
  vertical-align: top;
  margin-right: 10px;
}

.comments{
  height: 120px;
}

.box-sign{
  display: inline-block;
  vertical-align: top;
}

.signatures{
  width: 210px;
  height: 120px;
}
.skill-display{
  margin-top: -34px;
  float: right;
  width: 84%;
  padding: 0 0 5px 0;
  // border:  thin solid #b92f2f;
}

.a-skill{
  margin-bottom: 5px;
  // border:  thin dashed #b92f2f;
}
// div that contains kind display
.challenge-kind{
  float: right;

}
.border-skill{
  float: left;
  border:  thin solid #dddddd;
  border-radius: 14px;
  width: 600px;
  height: 44px;
  padding: 5px 5px;
  margin: 0 25px 15px 20px;
  font-size: 1em;
  font-family: "Poppins";
}
// CSS to display challenge kind with Style


  //  top row
  .kind-label{
    margin: 0;
  }
  .cells{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 25px;
    font-size: 15px;
  }
  // bottom row
  .kind-display{
    margin: 0;
  }


  .start{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    border-top: thin solid rgb(0, 0, 0);
    border-bottom: thin solid rgb(0, 0, 0);
    border-left: thin solid rgb(0, 0, 0);
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    height: 25px;
    width: 28px;
    margin-right: -4px;
    padding-bottom: 2px;
  }
  .middle{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    border: thin solid rgb(0, 0, 0);
    height: 25px;
    width: 28px;
  }
  .end{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    border-top: thin solid rgb(0, 0, 0);
    border-bottom: thin solid rgb(0, 0, 0);
    border-right: thin solid rgb(0, 0, 0);
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    margin-left: -4px;
    height: 25px;
    width: 28px;
  }



// css challenges

.display-challenge-name {
  margin: 20px 0px 10px 30px ;
}
.display-challenge-name h4{
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.cont-challenge{
  width: 1000px;
  padding: 20px;
  border:  solid #942424 ;
  border-radius: 14px;
  margin: auto;
  font-family: "Poppins", sans-serif;
  font-size: 20.25px;


}
.cont-challenge h1{
  font-size: 23px;
  font-style: underline;
}
.challenge-content img{
  width: 100%;
}

.attachment__caption{
        display: none;
}


//belt colors
.belt-1 {  color: $belt-1; }
.belt-2 {  color: $belt-2; }
.belt-3 {  color: $belt-3; }
.belt-4 {  color: $belt-4; }
.belt-5 {  color: $belt-5; }
.belt-6 {  color: $belt-6; }
.belt-7 {  color: $belt-7; }
