// Graphical variables

// Define fonts for body and headers
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  width: 1200px;
  height: 1400px;
  font-family: "roboto", sans-serif;
}

div.alwaysbreak { page-break-before: always; }
div.nobreak:before { clear:both; }
div.nobreak { page-break-inside: avoid; }


.pt-header-box{
  width: 100%;
  border-radius: 12px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  // border: 1px dashed rgb(0, 255, 42);
}
.domains-block{
  // styles for domain loop
  // display: block;

  width: 1000px;
  margin-top: 50px;
  margin-bottom: 15px;
  word-break: break-word;

}


.domain-display {
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  width: 200px;
}



.belt-display{
  // border: 1px solid rgb(21, 255, 0);
  float: left;
  // margin-left: 20px;
  width: 15%;
  height: 80px;
  text-align: center;
}
.display-challenges{
  margin: 0 0 10px 0;
  // border: 1px dashed black;
  width: 100%;
  clear:both
}
.date-pt{
  display: inline-block;
}
.name-pt{
  display: inline-block;
  width: 70%;
}

.student-box{
  margin: 15px 0px;
  // border: 1px solid rgb(187, 13, 143);
  width: 100%;
}
.pt-header{
  border:  solid rgb(0, 0, 0) ;
  border-radius: 12px;
  padding: 5px 5px 0 15px;
}

.student-name{
  display: inline-block;
  padding: 30px 5px 0 5px;
  width: 15%;
  gap: 25px;
  h2{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }
  .replace-challenge-btn{
    h6{
      margin: 0 10px 0 10px;
    }
  }
}
.bilan-box{
  display: inline-block;
  width: 220px;
  vertical-align: top;
  margin-right: 10px;

}
.bilan{
  height: 120px;
  line-height: 32px;
}

.box-com{
  display: inline-block;
  width: 540px;
  vertical-align: top;
  margin-right: 10px;
}

.comments{
  height: 120px;
}

.box-sign{
  display: inline-block;
  vertical-align: top;
}

.signatures{
  width: 210px;
  height: 120px;
}

.domain-block{
  border-top: #a3a2a2;
}

.skill-display{
  margin-top: -34px;
  margin-bottom: 15px;
  float: right;
  width: 84%;
  min-height: 110px;
  padding: 0 0 5px 0;
  border-bottom:  thin solid #b4b4b4;
}

.a-skill{
  page-break-inside: avoid;
  margin-bottom: 15px;

}
// div that contains kind display
.challenge-kind{
  float: right;
}
.border-skill{
  float: left;
  border:  thin solid #a3a2a2;
  background-color: #dfe2df;
  border-radius: 14px;
  width: 740px;
  min-height: 44px;
  padding: 10px 10px;
  margin: 0 10px 0px 0;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
    }
symbol{
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
// CSS to display challenge kind with Style


  //  top row
  .kind-label{
    margin: 0;
  }
  .cells{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 25px;
    font-size: 15px;
  }
  // bottom row
  .kind-display{
    margin: 0;
  }


  .start{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    border-top: thin solid rgb(0, 0, 0);
    border-bottom: thin solid rgb(0, 0, 0);
    border-left: thin solid rgb(0, 0, 0);
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    height: 25px;
    width: 28px;
    margin-right: -4px;
    padding-bottom: 2px;
  }
  .middle{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    border: thin solid rgb(0, 0, 0);
    height: 25px;
    width: 28px;
  }
  .end{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    border-top: thin solid rgb(0, 0, 0);
    border-bottom: thin solid rgb(0, 0, 0);
    border-right: thin solid rgb(0, 0, 0);
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    margin-left: -4px;
    height: 25px;
    width: 28px;
  }



// css challenges

.display-challenge-name {
  margin: 20px 0px 10px 30px ;
}
.display-challenge-name h4{
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.cont-challenge{
  width: 1000px;
  padding: 5px 20px;
  border:  solid #942424 ;
  border-radius: 14px;
  margin: auto;
  font-family: "Poppins", sans-serif;
  font-size: 20.25px;
  margin-bottom: 20px;
}
.cont-challenge h1{
  font-size: 23px;
  font-style: underline;
}
.challenge-content img{
  width: 100%;
}

.attachment__caption{
        display: none;
}

//css for table edition

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-weight: 400;
}

td,
th {
  padding: 0;
}

td:not([align]),
th:not([align]) {
  text-align: left;
}

.table {
  background-color: #fff;
  color: #363636;
}

.table td,
.table th {
  border: 1px solid #dbdbdb;
  border-width: 0 0 1px;
  padding: 0.5em 0.75em;
  vertical-align: top;
}

.table.is-bordered td,
.table.is-bordered th {
  border-width: 1px;
}

.table.is-bordered tr:last-child td,
.table.is-bordered tr:last-child th {
  border-bottom-width: 1px;
}

.table-input {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}
