.deviseboxes {
  width: 50%;
  margin: 10px auto;
  input {
    margin-bottom: 5px;
  }
  form-control {
    border-radius: 15px !important;
  }
  .add-skill-btn {
    margin: 0;
  }
  .grey-line {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  small {
    font-style: oblique;
  }
}

@media (min-width: 750px) {
  .devise-mainbox {
    display: flex !important;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }
  #contact {
    border-left: thin solid $grisC;
    width: 70%;
    padding-left: 39px;
    margin: 5px 10px;
  }
}
.action-selector {
  display: flex;
  gap: 1px;
}
.contact-form {
  border: thin solid $roseL;
  padding: 1rem;
  border-radius: 0 1rem 1rem 1rem 
}
@media (max-width: 750px) {
  .devise-mainbox {
    display: flex !important;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  #contact {
    margin: 20px 0px;
    padding: 15px 0 0 0;
    border-top: thin solid $grisC;
  }
}
